.home--agenda {
    /*background-color: #ffeabe;*/
    background: url('../img/bg2.jpg') repeat center center / 60%;
    padding: 5% 2%;
    font-size: 16px;
}

.home--agenda .title {
    color: #ffc857;
}

.agenda-date {
    text-align: center;
    font-size: 2.2rem;
    line-height: 1.2;
    font-weight: bold;   
    position: relative; 
}

.agenda-time {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.carousel-tabs {
    overflow: visible;
    max-width: 900px;
    margin: auto;
}
.carousel-tabs .nav-link {
    text-align: center;
    padding: 1rem;
}
.carousel-tabs .nav-link.active {
    background-color: #fbf5e9;
    color: #4629a5;
    position: relative;
}
.carousel-tabs .nav-link.active:after {
    position: absolute;
    bottom: -12px;
    left: 0;
    right: 0;
    margin: auto;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 10px 0 10px;
    border-color: #fbf5e9 transparent transparent transparent;
}
.agenda-info {
    font-size: 16px;
}

.lecturer-info {
    padding: 15px 0;
}
.lecturer-info .name ,.modal-body .name {
    font-size: 20px;
}

.lecturer-info .desc{
    color: #666;
}

.btn-mod:hover {
    background-color: #ffc857;
    color: #333;
    border-color: #ffc857;;
}

.modal-img {
    max-width: 200px;
    padding-bottom: 15px;
}

.modal-body .name, .modal-body .desc {
    text-align: center;
}

.modal-title {
    background: #2c9791;
    color: #fff;
    line-height: 1;
    padding: 10px 25px;
    position: absolute;
    left: -15px;
    top: 20px;
    font-size: 1.4rem;
}

@media (max-width: 767px) {
    .ag-img{
        max-width: 80%;
        margin-bottom: 20px;
    }
  }












.agenda-box {
   margin: 1.8rem 0;
    padding: 1rem 1.2rem;
    background-color: #fbf5e9;
    border-radius: 20px;
}

.agenda-title {    
    font-weight: 700;
    color: #6650A9;
    font-size: 1.6rem;
    margin-bottom:15px;
}

.agenda-name {
    font-size: 18px;
    margin-bottom: 20px;
}
.agenda-name span {
    color: #666;
}

.speaker-thumb {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: 10px solid #39b8b8;
    margin: 10px auto ;
    overflow: hidden;
}

.speaker-thumb img {
    width: 100%;
}

.agenda-box .btn {
    border: 2px solid #4B3F72;
    background-color: #fbf5e9;
}




/* session.html */
/*speakers*/
.speaker-box {
    margin: 1rem 0;
}

.speaker-desc {
    color: #6650A9;
    line-height: 1.5;
    padding: 6px 0 20px;
}

.speaker-photo {
    border-radius: 50%;
}

.speaker-photo:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 8px;
}

.section-speaker a {
    text-decoration: none;
}

/*speaker-inner*/
.section-speaker-inner {
    background-color: #fff;
}

.section-speaker-inner .list-inline li {
    font-size: 1em;
    padding: 0;

}

.speaker-inner-img {
    border-radius: 50%;
    max-width: 60%;
    box-shadow: rgb(252 198 87) 2.4px 2.4px 4px 4px;
}

.spaeak-inner-icon {
    text-align: center;
    padding: 15px 0;
}

.spaeak-inner-icon i {
    padding: 0 6px;
}

.spaeak-inner-icon a {
    color: #333;
}

.spaeak-inner-icon a:hover {
    color: #008CBE;
}


.inner-title {
    text-align: left;
    font-weight: 700;
    color: #6650A9;
}

.spaeak-inner-name {
    font-size: 2em;
    color: #000;
    font-weight: 700;
}

.spaeak-inner-desc {
    font-size: 1.4em;
    font-weight: 600;
    padding: 15px 0;
    color: #332270;
}

.spaeak-inner-txt {
    color: #666;
    word-break: break-word;
}

.agenda-content {
    padding: 2rem 2rem 1rem;
    margin: 1.2rem 0;
    background: #fff3dc;
    border-radius: 20px;
}

.agenda-content .list-inline-item {
    padding-right: 10px;
}

.agenda-time {
    font-size: 17px;
    font-weight: 700;
}

.fa-video {
    color: #ef4565;
}

.fa-microphone-alt {
    color: #3da9fc;
}

.fa-podcast {
    color: #00b9ba;
}

.class-type {
    color: #489329;
    border: 1px solid #489329;
    padding: 5px 10px;
    border-radius: 6px;
    margin: 0 5px;
    background-color: #fff;
}

.badge-class {
    color: #3096C3;
    border: 1px solid #3096C3;
    padding: 5px 10px;
    border-radius: 6px;
    margin: 0 5px;
    background-color: #fff;
}


.agenda-content-txt {
    margin: 15px 0;
    word-break: break-word;
}

.agenda-content-class {
    color: #666;
    padding: 6px 0px;
    border-radius: 6px;
}


.keynote-tag {
    font-size: 18px;
    color: #000;
    padding: 4px 6px;
    margin-left: 50px;
    position: relative;
}

.keynote-tag:before {
    content: "";
    width: 36px;
    height: 1px;
    background: #939fa8;
    display: block;
    position: absolute;
    left: -40px;
    top: 12px;
}


/*speaker-agenda*/
.agenda-inner-time {
    font-size: 20px;
    font-weight: 700;
}

.agenda-desc {
    font-size: 17px;
}

.agenda-inner-name {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 8px;
}

.agenda-inner-desc {
    font-weight: 700;

}

.section-agenda-inner .agenda-content {
    border: none;
    margin-top: 1.2em;
    padding-left: 0;
}

.agenda-inner-spaeak {
    color: #666;
    line-height: 1.5;
    border-left: 2px solid #3A5191;
    padding: 0 20px;
    margin-top: 15px;
}
