@charset "UTF-8";
/*
0-600px Phone
600-900px Tablet portrait
900-1200px Tablet landscape
1200-1800 is our normal styles apply
1800px + Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
1em=16px

ORDER:base+typography > general layout + grid>page layout >components
*/
.bounce {
  animation: bounce 3s linear infinite;
  -webkit-animation: bounce 3s linear infinite;
}

@-webkit-keyframes bounce {
  0%, 20%, to {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 10%);
  }
  70% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
  90% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translateZ(0);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0);
  }
}
@keyframes bounce {
  0%, 20%, to {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 10%);
  }
  70% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
  90% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translateZ(0);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0);
  }
}
@keyframes twinkling {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -1000px 5000px;
  }
}
.bg-animation {
  animation: bg-animation 30s ease;
  -webkit-animation: bg-animation 30s ease;
}

@keyframes bg-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.float-star01 {
  animation-name: float-star01;
}

.float-star02 {
  animation-name: float-star02;
}

@keyframes float-star01 {
  10% {
    transform: translate3d(10px, 0, 0);
  }
  20% {
    transform: translate3d(0, 40px, 0);
  }
  50% {
    transform: translate3d(0, 60px, 0);
    opacity: 0.6;
  }
  70% {
    transform: translate3d(0, 40px, 0);
  }
  80% {
    transform: translate3d(0, 10px, 0);
  }
}
@keyframes float-star02 {
  10% {
    transform: translate3d(10px, 0, 0);
  }
  20% {
    transform: translate3d(20px, 0, 0);
  }
  50% {
    transform: translate3d(10px, 0, 0);
    transform: rotate(10deg);
    opacity: 0.8;
  }
  70% {
    transform: translate3d(10px, 0, 0);
  }
  80% {
    transform: translate3d(10px, 0, 0);
    transform: rotate(-10deg);
  }
}
@keyframes float-top {
  100% {
    transform: translate3d(0, 20px, 0);
  }
}
@keyframes scale-shadow {
  100% {
    transform: scale(0.6) translate(0, 80px);
    opacity: 0.2;
  }
}
@keyframes wave {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-1515px, 0);
  }
}
@keyframes swell {
  0%, 100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}
@-webkit-keyframes rotate-right {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate-left {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
  }
}
.loading__rocket {
  -webkit-animation: loading-rocket 3s linear infinite;
  animation: loading-rocket 3s linear infinite;
}

@-webkit-keyframes loading-rocket {
  0% {
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
    opacity: 1;
  }
  10% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    opacity: 1;
  }
  60% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 1;
  }
  80% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
    opacity: 0;
  }
}
@keyframes loading-rocket {
  0% {
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
    opacity: 1;
  }
  10% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    opacity: 1;
  }
  60% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 1;
  }
  80% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
    opacity: 0;
  }
}
.loading__bubble circle {
  -webkit-animation: bubble 3s linear infinite;
  animation: bubble 3s linear infinite;
}

@-webkit-keyframes bubble {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  65% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  75% {
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes bubble {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  65% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  75% {
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
.loading__bubble circle:nth-child(2) {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.loading__bubble circle:nth-child(3) {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.loading__bubble circle:nth-child(4) {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.loading__bubble circle:first-child {
  -webkit-transform-origin: 50px 31px;
  -ms-transform-origin: 50px 31px;
  transform-origin: 50px 31px;
}

.loading__bubble circle:nth-child(2) {
  -webkit-transform-origin: 52px 28px;
  -ms-transform-origin: 52px 28px;
  transform-origin: 52px 28px;
}

.loading__bubble circle:nth-child(3) {
  -webkit-transform-origin: 58px 24px;
  -ms-transform-origin: 58px 24px;
  transform-origin: 58px 24px;
}

.loading__bubble circle:nth-child(4) {
  -webkit-transform-origin: 55px 27px;
  -ms-transform-origin: 55px 27px;
  transform-origin: 55px 27px;
}

.loading__dot {
  position: absolute;
  top: 120%;
  left: 40%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 0;
  list-style: none;
  padding-left: 0;
}

.loading__dot li {
  height: 0;
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  margin: 0;
  height: 10px;
  width: 10px;
  border: 3px solid #fff;
  border-radius: 100%;
  -webkit-transform: transformZ(0);
  -ms-transform: transformZ(0);
  transform: transformZ(0);
  -webkit-animation: loadiing-dot 2s infinite;
  animation: loadiing-dot 2s infinite;
}

@-webkit-keyframes loadiing-dot {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    background: #fff;
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
    background: #1C406B;
  }
  to {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    background: #fff;
  }
}
@keyframes loadiing-dot {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    background: #fff;
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
    background: #1C406B;
  }
  to {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    background: #fff;
  }
}
.loading__dot li:first-child {
  left: -20px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.loading__dot li:nth-child(2) {
  left: 0;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.loading__dot li:nth-child(3) {
  left: 20px;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fly-in {
  opacity: 0;
  position: relative;
}

/*animation element sliding left*/
.fly-in.fly-in-left {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

.fly-in.fly-in-right {
  opacity: 0;
  -moz-transition: all 800ms linear;
  -webkit-transition: all 800ms linear;
  -o-transition: all 800ms linear;
  transition: all 800ms linear;
  -moz-transform: translate3d(200px, 0px, 0px);
  -webkit-transform: translate3d(200px, 0px, 0px);
  -o-transform: translate(200px, 0px);
  -ms-transform: translate(200px, 0px);
  transform: translate3d(200px, 0px, 0px);
}

.fly-in.fly-in-left.in-view,
.fly-in.fly-in-right.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

* {
  padding: 0;
  margin: 0;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  position: relative;
  font-family: "Noto Sans", "Noto Sans TC", "微軟正黑體", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #4B3F72;
  font-size: 15px;
  overflow: hidden;
}
@media (max-width: 768px) {
  body {
    min-height: 100%;
    background-color: #ffffff;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4B3F72;
  margin: 20px 0 10px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 30px;
  line-height: 1.3;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 22px;
  font-weight: 600;
}

h6 {
  font-size: 20px;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 34px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 28px;
    margin: 1%;
  }

  h3 {
    font-size: 24px;
    margin: 1%;
  }

  h4 {
    font-size: 20px;
    margin: 1%;
  }

  h5 {
    font-size: 18px;
    font-weight: 600;
    margin: 1%;
  }

  h6 {
    font-size: 16px;
    font-weight: 600;
    margin: 1%;
  }

  p {
    font-size: 14px;
  }
}
strong {
  font-weight: 700;
}

p {
  font-size: 16px;
  line-height: 1.6;
}

p:last-child {
  margin-bottom: 0px;
}

p {
  color: #4B3F72;
}

small {
  font-weight: inherit;
}

ul {
  list-style: none;
  line-height: 1.9;
}

.ol {
  padding-left: 1.5em;
}

.ul {
  padding-left: 18px;
  position: relative;
}

.ul li {
  position: relative;
}
.ul li:before {
  content: "•";
  position: absolute;
  font-size: 20px;
  left: -14px;
  line-height: 1.3;
  color: #4B3F72;
}

a {
  transition: all 0.3s ease;
  color: #4629a5;
}
a:focus, a:hover {
  color: #7a5dd7;
  text-decoration: none;
}

button,
.btn {
  color: #4B3F72;
  transition: all 0.3s ease;
}
button:focus, button:hover,
.btn:focus,
.btn:hover {
  color: #4B3F72;
}

section,
header,
nav,
footer {
  position: relative;
}

section {
  padding: 1.2% 1% 2% 0%;
  margin: 0;
}
@media (max-width: 767px) {
  section {
    padding: 60px 0 1.2% 0;
  }
}


section .ul li,
section .ol li {
  margin-bottom: 0.3rem;
}
section:last-of-type {
  margin-bottom: 0;
}

.loading {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: #4629a5;
  z-index: 9999;
  opacity: 1;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
}

.loading__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loading__logo svg {
  width: 100%;
}


.footer {
  position: relative;
  margin: 0;
  padding: 20px 20px;
  width: 100%;
  padding-top: 200px;
  padding-bottom: 2%;
  background-color: #120b2a;
  background: url("../img/bg-twinkle2.svg"), -moz-linear-gradient(top, #120b2a 0%, #120b2a 30%, #000000 80%, #000000 100%);
  background: url("../img/bg-twinkle2.svg"), -webkit-linear-gradient(top, #120b2a 0%, #120b2a 30%, #000000 80%, #000000 100%);
  background: url("../img/bg-twinkle2.svg"), linear-gradient(to bottom, #120b2a 0%, #120b2a 30%, #000000 80%, #000000 100%);
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
  width: 100%;
}
.footer * {
  color: #aaaaaa;
}
.footer .footer-row {
  -webkit-display: flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 100%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
}
@media (min-width: 1200px) {
  .footer .footer-row {
    max-width: 1200px;
  }
}
@media (max-width: 767px) {
  .footer .footer-row {
    max-width: 300px;
  }
}
@media (max-width: 991px) {
  .footer {
    padding-top: 120px;
  }
}
.footer:after {
  content: "";
  position: absolute;
  top: 0;
  width: 101%;
  left: -0.5%;
  height: 198px;
  background: url("../img/footer-wave.svg") no-repeat bottom;
  background-size: cover;
  z-index: 10;
}
@media (max-width: 991px) {
  .footer:after {
    bottom: -98px;
    height: 110px;
    top: -10px;
  }
}
.footer--ithome {
  padding: 0 0 0 5px;
  flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 1060px) {
  .footer--ithome {
    -ms-flex: 0 0 28%;
    flex: 0 0 28%;
    max-width: 28%;
  }
}
@media (max-width: 1059px) and (min-width: 768px) {
  .footer--ithome {
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
  }
}
.footer--ithome .ithome-logo {
  margin: 20px 0;
  padding: 0;
  max-width: 200px;
  display: inline-block;
}
.footer--ithome .ithome-fb {
  display: inline-block;
}
.footer--ithome .ithome-info {
  padding: 0;
  -webkit-display: flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: flex-start;
  -ms-align-items: flex-start;
}
.footer--ithome .ithome-info i {
  border-radius: 50%;
  background-color: #dddddd;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  margin-right: 10px;
  color: #333333;
  margin-right: 10px;
  transition: all 0.3s ease;
}
.footer--ithome .ithome-info i:hover {
  background-color: #9b86e1;
  color: #fff;
}
.footer--ithome .ithome-info-p {
  display: inline-block;
}
.footer--activity {
  padding: 0;
  flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 1060px) {
  .footer--activity {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (max-width: 1059px) and (min-width: 768px) {
  .footer--activity {
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
  }
}
.footer--activity .activity-logo img {
  max-width: 225px;
  width: 100%;
  margin: 5px;
}
.footer--activity .activity-year {
  color: #666666;
  margin: 20px 0;
  line-height: 2;
}
.footer--activity .activity-year a {
  color: #ffffff;
}
.footer--activity .activity-year a:hover {
  color: #9b86e1;
}
.footer--about {
  -webkit-display: flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0 0 0 5px;
  flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 1060px) {
  .footer--about {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (max-width: 1059px) and (min-width: 768px) {
  .footer--about {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.footer--about .about-title {
  font-size: 22px;
  margin: 22px 0 0;
  color: #ffffff;
}
.footer--about ul li {
  line-height: 1.4;
  margin-bottom: 3px;
  word-break: keep-all;
}
.footer--about ul li:before {
  color: #aaaaaa;
  line-height: 1;
}
.footer--about .about-conf {
  padding: 0 0 0 3px;
  -ms-flex: 0 0 33.33%;
  flex: 0 0 33.33%;
  max-width: 33.33%;
}
@media (max-width: 767px) {
  .footer--about .about-conf {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.footer--about .about-webinar {
  padding: 0 0 0 3px;
  -ms-flex: 0 0 26%;
  flex: 0 0 26%;
  max-width: 26%;
}
@media (max-width: 767px) {
  .footer--about .about-webinar {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.footer--about .about-service {
  padding: 0 0 0 3px;
  -ms-flex: 0 0 36.33%;
  flex: 0 0 36.33%;
  max-width: 36.33%;
}
@media (max-width: 767px) {
  .footer--about .about-service {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.gotop {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 6px 14px 4px 19px;
  text-align: center;
  display: block;
  line-height: 1;
  background-color: #ffffff;
  box-shadow: 0 0 0px 8px #cacaca66;
  border-radius: 50%;
  opacity: 0.6;
  z-index: 998;
  transition: all 0.3s ease;
}
.gotop img {
  height: 40px;
}
.gotop:hover {
  opacity: 1;
}

.loading {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: #4629a5;
  z-index: 9999;
  opacity: 1;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
}

.loading__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loading__logo svg {
  width: 100%;
}

.modal-content {
  background-color: #ffffff;
  border-radius: 10px;
  color: #4B3F72;
  margin: 20% auto;
  min-height: 60vh;
}
.modal-content h5 {
  color: #4B3F72;
}
.modal-content p {
  color: #4B3F72;
}
.modal-content .modal-header {
  border-bottom: none;
}
.modal-content .modal-header .close {
  color: #4B3F72;
  font-size: 2.5em;
  margin-top: -10px;
}
.modal-content .modal-body {
  text-align: left;
}
.modal-content .modal-body .modal-title {
  margin: 5px auto 8px auto;
}
.modal-content .tab-content {
  padding: 10px 5px;
}
.modal-content .tab-content blockquote {
  margin: 10px 0;
  background: #eee;
  padding: 8px;
  font-size: 16px;
  border-left: none;
  border: 5px dotted #ddd;
}
.modal-content .tab-content ol,
.modal-content .tab-content ul {
  margin-left: 20px;
}
.modal-content .list-inline > li {
  width: 49.5%;
  text-align: center;
  text-decoration: none;
  background: #19195e;
  display: inline-block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.modal-content .list-inline > li .tab {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  padding: 9px 4px 7px;
  text-decoration: none;
  width: 100%;
  cursor: pointer;
}
.modal-content .list-inline > li.active {
  border: 1px solid #4B3F72;
  border-bottom: none;
  background-color: #ffffff;
}
.modal-content .list-inline > li.active .tab {
  color: #333;
}
.modal-content .list-inline > li .active {
  border-bottom: 1px solid #fff;
}

@media screen and (max-width: 480px) {
  .container .modal {
    left: none !important;
    right: none !important;
  }
}
.btn-default {
  background: #fff;
  border: 2px solid #531d8d;
  margin-top: 20px;
  min-width: 120px;
  color: #531d8d;
  display: inline-block;
  width: 45%;
  margin: 1%;
  padding: 10px 0;
  font-size: 18px;
}

.btn-default:focus,
.btn-default:hover,
.btn-default:active {
  color: #fff;
  background: #531d8d;
}

.btn-txt {
  color: #531d8d;
}

.btn-buy {
  color: #fff !important;
}

.btn-stop {
  background: #4629a5;
  color: #fff !important;
  user-select: none;
  touch-action: manipulation;
  cursor: not-allowed;
}

.btn-undo {
  background: #4629a5;
  border: 1px solid #4629a5;
  color: #4629a5 !important;
  user-select: none;
  touch-action: manipulation;
  cursor: not-allowed;
}

.title {
  text-align: center;
  padding-bottom: 2rem;
  font-weight: 700;
}

.home__intro {
  padding: 4% 0;
  background: #bae8ff;
  font-family: "Noto Sans","Noto Sans TC",Helvetica, "Open Sans","Helvetica Neue", Arial, sans-serif;
}

.home__intro .title {
  font-size: 3.2rem;
  margin: 10px 0 20px;
}
@media (max-width: 767px) {
  .home__intro .title {
    font-size: 2.3rem;
  }
}
.home__intro--content {
  position: relative;
  text-align: justify;
}
.home__intro p {
  font-size: 1.125rem;
  line-height: 1.8;
}

.home__feat {
  padding: 6% 3% 2%;
  background-color: #202142;
}
.home__feat .title {
  color: #fff;
  margin-bottom: 1.8em;
}
.home__feat .contaoner-feat {
  max-width: 1900px;
}
.home__feat-group .feat {
  background: url("../img/feat_item_bg1.svg") no-repeat left/35%;
  position: relative;
  height: 280px;
  display: flex;
  align-items: center;
}
@media (min-width: 1201px) {
  .home__feat-group .feat {
    height: 415px;
  }
}
@media (min-width: 1025px) {
  .home__feat-group .feat {
    height: 335px;
  }
}
@media (min-width: 770px) {
  .home__feat-group .feat {
    height: 440px;
    background-size: 100%;
    background-position: center;
  }
}
.home__feat-group .feat_txt {
  position: relative;  
  padding: 25px;
  text-shadow: -2px 2px 1px #fff;
}
.home__feat-group .feat:nth-child(2) {
  background-image: url("../img/feat_item_bg2.svg");
}
.home__feat-group .feat:nth-child(3) {
  background-image: url("../img/feat_item_bg3.svg");
}
.home__feat-group .feat:nth-child(4) {
  background-image: url("../img/feat_item_bg4.svg");
}
.home__feat-group .feat-head {
  letter-spacing: 2px;
}
.home__feat-group .feat-head span {
  font-size: 3rem;
  color: #2c9791;
}

.home__history {
  background-color: #202142;
  padding: 2% 0 1%;
}
.home__history .container-history {
  padding: 0;
}
.home__history .title {
  color: #fff;
  margin: 20px 0;
}
.home__history .swiper-pagination-bullet {
  background: #fff;
}
.home__history .swiper-pagination-bullet-active {
  background: #fff;
}
.home__history .history-item {
  border-radius: 20px;
  overflow: hidden;
}

.home__countdown {
  background-color: #202142;
  color: #fff;
  padding: 4% 0 2%;
}
.home__countdown .title {
  color: #fff;
  font-size: 2.8rem;
  letter-spacing: 4px;
  margin: 4% 0 1%;
}
.home__countdown .title_sub {
  font-weight: 300;
  letter-spacing: 20px;
}
.home__countdown .logo {
  width: 350px;
  display: block;
  margin: 2% auto;
}
.home__countdown .countdown-list {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.home__countdown .countdown-item {
  font-size: 1.2rem;
  line-height: 1.3;
  padding: 5px 20px;
}
.home__countdown .countdown-item span {
  font-size: 4rem;
  display: block;
  font-family: "Roboto Mono", monospace;
}

.home__tickets {
  background-color: #202142;
  padding: 0 0 6%;
}
.home__tickets .ticket {
  background-color: #fff;
  border-radius: 30px;
  padding: 20px;
  text-align: center;
  height: 280px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}
.home__tickets .ticket.no-bg {
  background-color: transparent;
}
.home__tickets .ticket .price span:nth-child(1) {
  font-size: 1.2rem;
}
.home__tickets .ticket .price span:nth-child(2) {
  font-size: 2.2rem;
  color: #ff6535;
  margin: 0 8px 0;
}
.home__tickets .ticket .price span:nth-child(3) {
  font-size: 1.2rem;
}
.home__tickets .btn-price {
  background-color: #ffc856;
  margin: 4% auto 0;
  padding: 10px 15px;
  position: relative;
  bottom: 0;
  display: block;
  max-width: 160px;
}

.logowall .logowall--host {
  margin: 2% 0;
}
.logowall .logowall--host a {
  display: block;
  border: 1px solid #ededed;
  padding: 15px;
  margin: 15px;
  flex: 0 0 330px;
  transition: 0.3s linear;
  color: #4629a5;
}
.logowall .logowall--host a:hover, .logowall .logowall--host a:focus {
  border: 1px solid #e000a9;
  opacity: 0.8;
}
@media (max-width: 1200px) {
  .logowall .logowall--host a {
    flex: 0 0 100%;
  }
}
.logowall .logowall--img {
  /* min-height: 100px; */
  width: 280px;
  margin: auto;
  display: block;
}
@media (max-width: 1200px) {
  .logowall .logowall--img {
    width: 100%;
  }
}
.logowall .modal-content {
  padding-bottom: 20px;
}
.logowall .modal-content .close {
  font-size: 2.5rem;
  padding: 0.5rem 1rem;
}
.logowall .modal-content .logowall--img {
  margin: 15px;
  max-width: 300px;
}

.home__speaker--cn .speaker--cn--sub--title {
  margin-top: 5px;
  padding: 15px;
}
.home__speaker--cn .speaker--cn--sub--title .title {
  text-align: left;
  margin: 10px;
}
.home__speaker--cn .speaker--cn--sub--title .sub-title {
  font-size: 18px;
}
.home__speaker--cn .speaker--cn--producer {
  padding: 15px;
  background: #f3f3f3;
  border-radius: 20px;
  margin: 5px 15px 5px;
}
.home__speaker--cn .speaker--cn--producer--img {
  border: 5px solid #de9372;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  flex: 0 0 150px;
  margin: auto;
}
.home__speaker--cn .speaker--cn--producer--desc {
  position: relative;
}
@media (max-width: 1023px) {
  .home__speaker--cn .speaker--cn--producer--desc {
    text-align: center;
  }
}
.home__speaker--cn .speaker--cn--producer--desc--name {
  margin-bottom: 5px;
  font-weight: 500;
  word-break: break-all;
}
.home__speaker--cn .speaker--cn--producer--desc--sub {
  margin: 10px 0;
}
.home__speaker--cn .speaker--cn--item {
  padding: 15px;
  text-align: center;
  max-width: 300px;
}
.home__speaker--cn .speaker--cn--item--img {
  position: relative;
  margin: 0.5em;
  padding: 0px;
  border: 10px solid transparent;
  background: #de9372;
  border-radius: 50%;
  overflow: hidden;
  transition: 0.3s ease;
}
.home__speaker--cn .speaker--cn--item--img:hover {
  border-width: 3px;
}
.home__speaker--cn .speaker--cn--item--desc {
  position: relative;
  top: -40px;
}
.home__speaker--cn .speaker--cn--item--desc--name {
  margin-bottom: 5px;
  font-weight: 500;
  background: #d47349;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  width: 90%;
  left: 5%;
  color: #ffffff;
  border: 5px solid #de9372;
  border-top: 5px solid #f1d2c5;
  border-bottom: 5px solid #7f3c1e;
}
.home__speaker--cn .speaker--cn--item--desc--sub {
  position: relative;
  margin-top: 10px;
}

@media (min-width: 993px) {
  .home__keynote {
    background-color: #ffffff;
    padding-top: 10px;
  }
}
.home__keynote--a {
  display: block;
  color: #4B3F72 !important;
  font-size: 16px;
}
.home__keynote .keynote--item {
  display: flex;
  justify-content: center;
  margin: 5% 0 3%;
  border-radius: 10px;
  border: 5px solid #ffffff;
  padding: 10px;
  transition: 0.3s ease;
}
@media (max-width: 575px) {
  .home__keynote .keynote--item {
    flex-direction: column;
    background-color: #f3f3f3;
  }
}
.home__keynote .keynote--item:hover {
  cursor: pointer;
  background-color: #ebf9ff;
}
.home__keynote .keynote--item:hover .keynote--item--desc--btn i {
  transform: translateX(5px);
}
.home__keynote .keynote--item--img {
  position: relative;
  margin: 0.5em;
  padding: 10px;
  background: #4629a5 url("../img/bg-planet--l.svg") no-repeat center 100%;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  max-width: 300px;
  flex-basis: 300px;
  overflow: hidden;
}
@media (max-width: 575px) {
  .home__keynote .keynote--item--img {
    margin: 0.5em auto;
  }
}
.home__keynote .keynote--item--img img {
  border-radius: 50%;
  border: 10px solid transparent;
  transition: 0.3s ease;
}
.home__keynote .keynote--item--img img:hover {
  border-width: 3px;
}
.home__keynote .keynote--item--tag {
  display: block;
  margin: 10px 0;
  font-weight: 500;
  background: #ffaf5a;
  padding: 6px;
  border-radius: 10px;
  width: 100px;
  text-align: center;
  font-size: 18px;
  color: #ffffff;
}
.home__keynote .keynote--item--desc--name {
  word-break: break-all;
}
.home__keynote .keynote--item--desc--btn {
  position: relative;
  width: 100%;
}
.home__keynote .keynote--item--desc--btn i {
  width: 50px;
  height: 50px;
  line-height: 24px;
  background: #ffffff;
  position: relative;
  float: right;
  border: 3px solid #4B3F72;
  padding: 10px;
  border-radius: 50px;
  transition: 0.3s ease;
  transform: translateX(0);
}
.home__keynote .keynote--item--desc--profile {
  width: 100%;
  position: relative;
  max-height: 132px;
  overflow: hidden;
  font-size: 1.07em;
  line-height: 1.6;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  border-left: 5px solid #dddddd;
}
.home__keynote .keynote--item--desc--profile p {
  font-size: 1.07em;
  line-height: 1.6;
  margin-bottom: 1.172em;
}
.home__keynote .keynote--item--desc--profile :before {
  content: "";
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: 0;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
}
@media (max-width: 575px) {
  .home__keynote .keynote--item--desc--profile :before {
    content: none;
  }
}

.home__speaker--a {
  display: block;
}
.home__speaker--a:hover .speaker--item--img {
  border-width: 3px;
}
.home__speaker--a:hover .speaker--item--desc--name {
  background: #5b65cf;
  word-break: break-all;
}
.home__speaker .speaker--sub--title {
  margin-top: 5px;
  padding: 15px;
}
.home__speaker .speaker--sub--title .title {
  text-align: left;
  margin-top: 10px;
}
.home__speaker .speaker--sub--title .sub-title {
  font-size: 18px;
}
.home__speaker .speaker--item {
  display: block;
  padding: 15px;
  text-align: center;
  max-width: 300px;
}
.home__speaker .speaker--item--img {
  position: relative;
  margin: 0.5em;
  padding: 0px;
  border: 10px solid transparent;
  background: #5b65cf;
  border-radius: 50%;
  overflow: hidden;
  transition: 0.3s ease;
  cursor: pointer;
}
.home__speaker .speaker--item--img:hover {
  border-width: 3px;
}
.home__speaker .speaker--item--desc {
  position: relative;
  top: -40px;
}
.home__speaker .speaker--item--desc--name {
  margin-bottom: 5px;
  font-weight: 500;
  background: #3844bf;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  width: 90%;
  left: 5%;
  color: #ffffff;
  word-break: break-all;
  border: 5px solid #5b65cf;
  border-top: 5px solid #aaafe6;
  border-bottom: 5px solid #1b215c;
  transition: 0.3s ease;
}
.home__speaker .speaker--item--desc--name i {
  transform: translateX(0);
}
.home__speaker .speaker--item--desc--name:hover {
  cursor: pointer;
  background: #2c3698;
  border: 5px solid #2c3698;
}
.home__speaker .speaker--item--desc--name:hover i {
  transform: translateX(10px);
}
.home__speaker .speaker--item--desc--name.workshop:before {
  content: "Workshop";
  background-color: #689243;
  text-align: center;
  padding: 6px;
  font-size: 16px;
  letter-spacing: 0.5px;
  width: 100px;
  left: -30px;
  top: -20px;
  /* transform: rotate(-20deg); */
  position: absolute;
  border-radius: 10px;
}
.home__speaker .speaker--item--desc--sub {
  margin: 10px 0;
}
.more-title {
  background-color: #cccccc;
  padding: 15px;
  border-radius: 10px;
  color: #3844bf;
  letter-spacing: 2px;
  opacity: 0.8;
}

.home--kv {
  background: #1F2041;
  margin: 0;
  top: 80px;
}
@media (max-width: 767px) {
  .home--kv {
    height: 50vh;
    background-color: #ffffff;
    margin-top: 75px;
    /* top: 80px; */
    background: url("../img/kv.jpg")no-repeat center / cover;
  }
}
.home--kv--wrapper {
  position: relative;
}
@media (max-width: 767px) {
  .home--kv--wrapper {
    display: none;
  }
}
.home--kv .star__group {
  width: 50%;
  left: 25%;
  position: absolute;
  height: 100vh;
  z-index: 99;
}
.home--kv .wind01 {
  background: url("../img/bg_wind02.svg") repeat-x top center/50%;
  height: 180px;
  width: 100%;
  position: absolute;
  top: 10%;
  transition: 5s ease 5s;
}
.home--kv .wind02 {
  background: url("../img/bg_wind02.svg") repeat-x top center/100%;
  height: 180px;
  width: 80%;
  position: absolute;
  top: 30%;
  transform: scale(1) translateX(-100%);
  left: -100%;
}
@keyframes wind {
  0% {
    opacity: 0.8;
    left: -100%;
  }
  100% {
    opacity: 1;
    left: 100%;
  }
}
.home--kv .cloud__left01 {
  transform-origin: bottom;
}
.home--kv .cloud__left02 {
  transform: translateX(0);
  animation: cloud__left 5s ease;
  opacity: 0.1;
}
.home--kv .cloud__left03 {
  transform: translateX(0);
  animation: 5s cloud__circle__left04 2s ease 5s;
}
.home--kv .cloud__left04 {
  position: relative;
  transform: translateX(0);
  opacity: 0;
  animation: cloud__circle__left04 3s ease 5s;
}
.home--kv .cloud__left04-2 {
  position: relative;
  transform: translateX(0);
  opacity: 0;
  animation: cloud__circle__left04 6s ease 5s;
}
.home--kv .cloud__circle__left01 {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  transform-origin: center bottom;
  transform: translateX(0);
  opacity: 0;
  will-change: animation transform opacity;
}
.home--kv .cloud__circle__left02 {
  position: absolute;
  opacity: 0;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  transform-origin: center bottom;
  transform: translateX(0);
  will-change: animation transform opacity;
}
.home--kv .cloud__circle__left03 {
  position: absolute;
  opacity: 0;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  transform-origin: center bottom;
  transform: translateX(0);
  will-change: animation transform opacity;
}
.home--kv .cloud__right01 {
  transform: translateX(0);
}
.home--kv .cloud__right01-2 {
  transform: translateX(0);
}
.home--kv .cloud__right02 {
  transform: translateX(0);
}
.home--kv .cloud__right03 {
  transform-origin: bottom;
}
.home--kv .cloud__right04 {
  transform: translateX(0);
  animation: cloud__circle__right01 5s ease 5s;
}
.home--kv .cloud__right04-2 {
  transform: translateX(0);
  animation: cloud__circle__right02 5.5s ease 5s;
}
.home--kv .cloud__circle__right01 {
  position: absolute;
  opacity: 0;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  transform-origin: center bottom;
  transform: translateX(0);
  animation: cloud__circle__right01 5s ease 5s;
  will-change: animation transform opacity;
}
.home--kv .cloud__circle__right02 {
  position: absolute;
  opacity: 0;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  transform-origin: center bottom;
  transform: translateX(0);
  animation: cloud__circle__right02 4s ease 5s;
  will-change: animation transform opacity;
}
.home--kv .cloud__circle__right03 {
  position: absolute;
  opacity: 0;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  transform-origin: center bottom;
  transform: translateX(0);
  animation: cloud__circle__right03 3s ease 5s;
  will-change: animation transform opacity;
}
@keyframes cloud__left {
  0% {
    opacity: 0.8;
    transform: scale(1) translateX(-100%);
  }
  100% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: scale(3) translateX(500px);
  }
}
@keyframes cloud__right {
  0% {
    opacity: 0.8;
    transform: scale(1) translateX(100%);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: scale(3) translateX(-500px);
  }
}
@keyframes cloud__circle__left01 {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0.2;
    transform: translateX(-120px);
  }
}
@keyframes cloud__circle__left02 {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0.1;
    transform: translateX(-100px);
  }
}
@keyframes cloud__circle__left03 {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-150px);
  }
}
@keyframes cloud__circle__left04 {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  80% {
    opacity: 1;
    transform: translateX(-150px);
  }
  100% {
    opacity: 0;
    transform: translateX(-190px);
  }
}
@keyframes cloud__circle__right01 {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0.2;
    transform: translateX(120px);
  }
}
@keyframes cloud__circle__right02 {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0.1;
    transform: translateX(100px);
  }
}
@keyframes cloud__circle__right03 {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(150px);
  }
}
@keyframes cloud__circle__right04 {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  80% {
    opacity: 1;
    transform: translateX(150px);
  }
  100% {
    opacity: 0;
    transform: translateX(190px);
  }
}
.home--kv .bubble_01, .home--kv .bubble_02, .home--kv .bubble_03, .home--kv .bubble_04, .home--kv .bubble_05, .home--kv .bubble_06, .home--kv .bubble_07, .home--kv .bubble_08, .home--kv .bubble_09, .home--kv .bubble_10, .home--kv .bubble_11, .home--kv .bubble_12, .home--kv .bubble_13 {
  position: absolute;
  background: #fff;
  bottom: 100px;
  opacity: 0.1;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  transform-origin: center bottom;
}
.home--kv .bubble_01 {
  left: 25%;
  animation: bubble_01 1.5s ease-in;
}
@keyframes bubble_01 {
  0% {
    transform: scale(0) translate3d(0px, 0px, 0px);
    opacity: 1;
  }
  100% {
    transform: scale(1.1) translate3d(0px, 0px, 0px);
    opacity: 0;
  }
}
.home--kv .bubble_02 {
  left: 30%;
  animation: bubble_02 2s ease-in;
}
@keyframes bubble_02 {
  0% {
    transform: scale(0) translate3d(0px, 0px, 0px);
    opacity: 1;
  }
  100% {
    transform: scale(1.2) translate3d(0px, 0px, 0px);
    opacity: 0;
  }
}
.home--kv .bubble_03 {
  left: 40%;
  animation: bubble_03 2s ease-in;
}
@keyframes bubble_03 {
  0% {
    transform: scale(0) translate3d(0px, 0px, 0px);
    opacity: 1;
  }
  100% {
    transform: scale(1.3) translate3d(0px, 0px, 0px);
    opacity: 0;
  }
}
.home--kv .bubble_04 {
  left: 45%;
  animation: bubble_04 1.5s ease-in;
}
@keyframes bubble_04 {
  0% {
    transform: scale(0) translate3d(0px, 0px, 0px);
    opacity: 1;
  }
  100% {
    transform: scale(1.4) translate3d(0px, 0px, 0px);
    opacity: 0;
  }
}
.home--kv .bubble_05 {
  left: 60%;
  bottom: 200px;
  width: 30px;
  height: 30px;
  animation: bubble_05 1.5s ease-in;
}
@keyframes bubble_05 {
  0% {
    transform: scale(0) translate3d(0px, 0px, 0px);
    opacity: 1;
  }
  100% {
    transform: scale(1.5) translate3d(0px, 0px, 0px);
    opacity: 0;
  }
}
.home--kv .bubble_06 {
  left: 70%;
  bottom: 300px;
  width: 30px;
  height: 30px;
  animation: bubble_06 1.5s ease-in;
}
@keyframes bubble_06 {
  0% {
    transform: scale(0) translate3d(0px, 0px, 0px);
    opacity: 1;
  }
  100% {
    transform: scale(1.6) translate3d(0px, 0px, 0px);
    opacity: 0;
  }
}
.home--kv .bubble_07 {
  left: 30%;
  bottom: 200px;
  width: 30px;
  height: 30px;
  animation: bubble_07 4s ease-in;
}
@keyframes bubble_07 {
  0% {
    transform: scale(0) translate3d(0px, 0px, 0px);
    opacity: 1;
  }
  100% {
    transform: scale(1.7) translate3d(0px, 0px, 0px);
    opacity: 0;
  }
}
.home--kv .bubble_08 {
  left: 40%;
  bottom: 200px;
  width: 30px;
  height: 30px;
  animation: bubble_08 2s ease-in;
}
@keyframes bubble_08 {
  0% {
    transform: scale(0) translate3d(0px, 0px, 0px);
    opacity: 1;
  }
  100% {
    transform: scale(1.8) translate3d(0px, 0px, 0px);
    opacity: 0;
  }
}
.home--kv .bubble_09 {
  left: 50%;
  bottom: 300px;
  width: 30px;
  height: 30px;
  animation: bubble_09 2s ease-in;
}
@keyframes bubble_09 {
  0% {
    transform: scale(0) translate3d(0px, 0px, 0px);
    opacity: 1;
  }
  100% {
    transform: scale(1.9) translate3d(0px, 0px, 0px);
    opacity: 0;
  }
}
.home--kv .bubble_10 {
  left: 50%;
  bottom: 300px;
  width: 30px;
  height: 30px;
  animation: bubble_10 3s ease-in;
}
@keyframes bubble_10 {
  0% {
    transform: scale(0) translate3d(0px, 0px, 0px);
    opacity: 1;
  }
  100% {
    transform: scale(1.9) translate3d(0px, 0px, 0px);
    opacity: 0;
  }
}
.home--kv .bubble_11 {
  left: 50%;
  bottom: 300px;
  width: 30px;
  height: 30px;
  animation: bubble_11 3s ease-in;
}
@keyframes bubble_11 {
  0% {
    transform: scale(0) translate3d(0px, 0px, 0px);
    opacity: 1;
  }
  100% {
    transform: scale(1.9) translate3d(0px, 0px, 0px);
    opacity: 0;
  }
}
.home--kv .bubble_12 {
  left: 50%;
  bottom: 300px;
  width: 30px;
  height: 30px;
  animation: bubble_12 5s ease-in;
}
@keyframes bubble_12 {
  0% {
    transform: scale(0) translate3d(0px, 0px, 0px);
    opacity: 1;
  }
  100% {
    transform: scale(1.9) translate3d(0px, 0px, 0px);
    opacity: 0;
  }
}
.home--kv .bubble_13 {
  left: 50%;
  bottom: 300px;
  width: 30px;
  height: 30px;
  animation: bubble_13 5s ease-in;
}
@keyframes bubble_13 {
  0% {
    transform: scale(0) translate3d(0px, 0px, 0px);
    opacity: 1;
  }
  100% {
    transform: scale(1.9) translate3d(0px, 0px, 0px);
    opacity: 0;
  }
}
.home--kv .rocket {
  transform: scaleY(1) translateY(0px);
  animation: rocket 8s ease;
  will-change: animation transform;
}
@keyframes rocket {
  0% {
    transform: scaleY(1) translateY(300px);
  }
  80%, 90% {
    transform: scaleY(1.01) translateY(-10px);
  }
  85% {
    transform: scaleY(1.015) translateY(0px);
  }
}
.home--kv .rocket__main {
  transform: translate3d(0px, 0px, 0px);
  animation: rocket__shake 0.3s ease 5s;
}
@keyframes rocket__shake {
  0% {
    transform: translate3d(0px, 0px, 0px);
  }
  50% {
    transform: translate3d(0px, 3px, 1px);
  }
  100% {
    transform: translate3d(0px, 0px, -1px);
  }
}
.home--kv #jetforce-gradient {
  --color-bot: #977EE6;
  --color-bot: #67D1FF;
  --color-bot: #7AD6FF;
  --color-bot: #BBE8FF;
  --color-bot: #849FF0;
}
@keyframes jetforce {
  0% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
  50% {
    opacity: 0;
    transform: translate3d(1px, 1px, 1px);
  }
  100% {
    opacity: 1;
    transform: translate3d(-1px, 0px, -1px);
  }
}
.home--kv--mini {
  display: none;
}
@media (max-width: 767px) {
  .home--kv--mini {
    display: block;
  }
}
.home--kv--bg--star--l {
  position: absolute;
  top: 1em;
  width: 70%;
  left: 0;
  z-index: 2;
  animation: float-star01 8s;
}
.home--kv--bg--star--r {
  position: absolute;
  top: 1em;
  width: 100%;
  right: 0;
  z-index: -2;
  animation: float-star02 10s;
}
.home--kv--bg--deco1 {
  position: absolute;
  width: 80%;
  right: -40%;
  top: -200px;
  z-index: -3;
  opacity: 0.2;
}
.home--kv--bg--deco2 {
  position: absolute;
  width: 90%;
  left: -50%;
  top: -300px;
  z-index: -3;
  opacity: 0.1;
}
.home--kv--bg--planet--l {
  position: absolute;
  top: 6em;
  width: 5em;
  left: 4em;
}
.home--kv--bg--planet--r {
  position: absolute;
  top: 3em;
  width: 10em;
  right: 0;
}
.home--kv--deco--planet--orange {
  position: absolute;
  top: 16em;
  width: 3em;
  left: 4em;
}
.home--kv--logo {
  position: absolute;
  top: 120px;
  width: 45%;
  left: 27.5%;
  filter: drop-shadow(0 0 0.75rem #19195e);
  z-index: 5;
}
.home--kv--date {
  color: #fff;
  font-weight: 700;
  font-family: "Noto Sans","Noto Sans TC",Helvetica, "Open Sans","Helvetica Neue", Arial, sans-serif;
}
.home--kv--btn {
  background-color: #e000a9;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position: absolute;
  right: 22%;
  top: 16em;
  line-height: 5.5em;
  color: #ffffff;
  font-size: 20px;
  display: block;
  z-index: 10;
  box-shadow: 5px 5px 2px #7a005c;
}
.home--kv--btn:hover, .home--kv--btn:focus {
  background-color: #fa00bc;
  color: #ffffff;
  transform: translate(2px, 2px);
  box-shadow: 1px 1px 1px #94006f;
}
@media (max-width: 767px) {
  .home--kv--btn {
    width: 90%;
    height: 60px;
    border-radius: 10px;
    right: 5%;
    line-height: 2.2;
  }
}

.content.content--kv {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #4629a5;
  background-image: url(../img/content-kv.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 101%;
}
@media (max-width: 991px) {
  .content.content--kv {
    background-size: cover;
    background-color: #ffffff;
  }
}
@media (max-width: 767px) {
  .content.content--kv {
    background-size: 101%;
    background-color: #4629a5;
    border: none;
  }
}
.content.content--kv:after {
  content: "";
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: -5px;
  left: 0;
  z-index: 99;
  background: #ffffff;
}
.content.content--kv--wrapper {
  position: relative;
  width: 100%;
}
.content.content--kv--logo {
  position: absolute;
  top: 40px;
  width: 45%;
  left: 27.5%;
  filter: drop-shadow(0 0 0.75rem #19195e);
  z-index: 5;
}
.content.content--kv--btn {
  background-color: #e000a9;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position: absolute;
  right: 22%;
  top: 16em;
  line-height: 5.5em;
  color: #ffffff;
  font-size: 20px;
  display: block;
  z-index: 10;
  box-shadow: 5px 5px 2px #7a005c;
}
.content.content--kv--btn:hover, .content.content--kv--btn:focus {
  background-color: #fa00bc;
  color: #ffffff;
  transform: translate(2px, 2px);
  box-shadow: 1px 1px 1px #94006f;
}
.content.content--kv .kv-head {
  text-align: center;
  position: relative;
  width: 100%;
  color: #ffffff;
  padding: 9% 0;
}
@media (max-width: 1299px) {
  .content.content--kv .kv-head {
    padding: 15% 0 10%;
  }
}
@media (max-width: 767px) {
  .content.content--kv .kv-head {
    padding: 22% 0 10%;
    min-height: 24vh;
  }
}
.content.content--kv .kv-head .title {
  color: #ffffff;
  text-shadow: 0 0 5px #000;
}
.content.content--kv .kv-head .sub-title {
  color: #ffffff;
  text-shadow: 0 0 5px #000;
  margin: 10px 0;
}
.content.content--kv--s {
  margin: -1px;
  background-image: url(../img/content-kv-s.svg);
  background-color: #4629a5;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
  margin-top: -80px;
  height: 280px;
}
@media (max-width: 991px) {
  .content.content--kv--s {
    margin-top: 65px;
    height: 165px;
    background-position: top;
    background-size: cover;
  }
}

/*# sourceMappingURL=main.css.map */


/* megan add */
::selection {
  background: #ffc857;
  color: #4B3F72;
}


.home__feat {
  text-align: center;
}

.feat-title {
  padding: 5px 20px;
  color: #ffc857;
  display: inline-block;
  margin-bottom: 2rem;
  font-size: 2.9rem;
  letter-spacing: 2px;
  font-family: "Noto Sans","Noto Sans TC",Helvetica, "Open Sans","Helvetica Neue", Arial, sans-serif;
}
/* .h2_balloon{
  position: relative;
    display: inline-block;
    padding: 11px 30px;
    border-radius: 35px;
    background: #bae8ff;
    color: #8524d2;
    font-size: 1.8rem;
    letter-spacing: 2px;    
}

.h2_balloon::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 6px;
  border-color: #bae8ff #bae8ff transparent transparent;
} */

.home__feat .col-md-3:after {
  font-family: "Font Awesome 5 Free";
  content: "\f00d";
  vertical-align: top;
  display: inline-block;
  font-weight: 900;
  padding-right: 5px;
  right: -6%;
  position: absolute;
  top: 19%;
  font-size: 3rem;
  color: #bae8ff;
}

.home__feat .col-md-3:last-child:after {
  content: "";
}


@media (max-width: 767px) {
  .home__feat .col-md-3:after{
    content: "";
  }
}

.feat-box{
  margin-bottom: 30px;
}

.feat-box .head{
  font-weight: 400;
  color: #fff;
}
.feat-box .head span{
  display: block;
}
.feat-box .head, .feat-box p{
  
}
.feat-box p{
  font-size: 1.1rem;
  color: #bae8ff;
}
.feat-box p span {
  border-bottom: 3px solid #1b857f;
  display: inline-block;
}

.feat-box img {
  width: 100%;
  max-width: 200px;
}

.deco-title span{
  border: 2px solid #4B3F72;
    padding: 5px 20px;
}







/* 往年觀眾輪廓 */
.home--attendee {
  margin: 3% 0;
  /*background-color: #faebd7;*/
}
.home--attendee .title {
  text-align: left;
  margin-bottom: 0;
  padding: 0;
}

/*共用*/
.home--attendee .num{
  color: #2c9791;
  margin: 0;
  font-size: 2.5rem;
  font-family: Helvetica, "Open Sans","Helvetica Neue", Arial, sans-serif;
  line-height: 1;
}
.home--attendee .num span {
  font-size: 1.3rem;
  /*color: #ffc857;*/
}
.show-xs {
  background-color: #bae8ff;
  display: none;
  }
.hide-xs {}
.text-normal, .text-normal p , .text-normal .num, .text-normal .num span{
  color:  #aaaaaa;
}

/* table */
.table-attendee-cover {
  margin: 0 0 2%;
}
.table-attendee {
  background-color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}
.table-attendee.table thead {
  background-color: #bae8ff;
  color:  #1d1f42;
  font-weight: 700;
}
.table-attendee.table td, .table-attendee.table th {
  border: none;
}
.table-attendee.table td:nth-child(5n+3), .table-attendee.table td:nth-child(5n+5) {
  border-left: 2px solid #bae8ff;
}

.attendee-head {
  font-size: 2.4rem;
  text-align: right;
}
.attendee-logo {
  color:  #ffc857;
    margin: 0;
    padding: 0px;
    display: inline-block;
    letter-spacing: 2px;
    font-family: "Noto Sans","Noto Sans TC",Helvetica, "Open Sans","Helvetica Neue", Arial, sans-serif;
}
.attendee-head .num {
  display: inline-block;
  margin-left: auto;
  /*font-size: 3rem;*/
  font-weight: 700;
}
.attendee-head .after {
  font-size: 2rem;
  
}

.percent-box {}
.percent-box .rank {}

@media (max-width: 768px) {
  .show-xs {
    display: table-cell;
  }
  .hide-xs {
    display: none;
  }
  .home--attendee .title, .attendee-head {
    text-align: center;
  }

  .table-attendee tr {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #e8f7ff;
  }
  .table-attendee.table td:nth-child(5n+3), .table-attendee.table td:nth-child(5n+5) {
    border: none;
  }
}















/* 內頁kv */
.page--kv {
  padding: 60px 0 0 0;
}




/* 行為守則 */
.section--notice {
  font-size: 18px;
  letter-spacing: 1.5px;
  text-align: justify;
  padding: 1rem 0 0;
}
.section--notice .head {
  color: #5f64ca;
}