.home--news {
    background-color: #bae8ff;
    padding: 5% 2%; 
}

.news-card {
    position: relative;
    padding: 1rem;
    margin-bottom: 1.8rem;    
}

/* .home--news .card:before {
    content: "";
    background: url('../img/deco-bling.png') no-repeat center center /100%;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 47%;
    top: -25px;
    transform: rotate(60deg);
} */

.news-card .card-title{
    min-height: 58px;
    font-weight: 600;
    /* text-align: justify; */
    position: relative;
    margin-top: 1%;
    color: #1E4470;
}

.home--news .card-title {
    /* overflow-y: hidden;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; */
}
@media (min-width: 768px){
    .home--news .card-title {
        overflow-y: hidden;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    }
}

.card-text{
    font-size: 16px;
    text-align: justify;
    overflow-y: hidden;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    position: relative;
} 
.news-card .btn-more {
    margin-top: 2%;
    display: inline-block;
}
.btn-news {
    color: #ffffff;
    background-color: #6650A9;
}
.btn-news:hover,.btn-news:active,.btn-news:visited ,.btn-news:focus {
    color: #fff;
    background-color: #422a8a;
}



/* news list 頁 */
.section--news {}

/* news inner 頁 */
.section--news-page {}

.section--news-page .title {
    margin: 1% 0;
    padding: 1rem 0;
}
.news-img {}