@charset "UTF-8";

:root {
  --theme300: #efb54a;
  --theme500: #ec9900;
  --theme700: #580420;
  --theme900: #250207;
  --txtColor: #221e1e;
  --txtColorLight: #ffffff;
  --navLink: #fefff3;
  --navLinkHover: #a38ce4;
  /* --navLinkHover: #8300ce; */
  --innerLink: #bababa;
  --innerLinkHover: #cfb6fd;
  --link: #514486;
  --themebg: #110f22;
  /* --bannerBgLight: #f5f2ff; */
  --bannerBgLight: #9f8bcd;
  --bannerBgDark: #3c2f5a;
  --bgMainContent: #F2F0E9;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  position: relative;
  font-family: "Lato", "Noto Sans TC", "微軟正黑體", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  overflow: hidden;
  color: var(--theme900);
  background-color: var(--themebg);
}
@media (max-width: 768px) {
  body {
    min-height: 100%;
    /* background-color: #ffffff; */
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 20px 0 10px;
}

h1 {
  font-size: 42px;
  font-weight: 300;
}

h2 {
  font-size: 36px;
  font-weight: 400;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 22px;
  font-weight: 600;
}

h6 {
  font-size: 20px;
  font-weight: 600;
}

strong {
  font-weight: 700;
}

p,.p {
  font-size: 16px;
  line-height: 1.6;
}

p:last-child {
  margin-bottom: 0px;
}

.text-note {
  color:#999;
}

small,.small {
  font-weight: inherit;
}

ul {
  list-style: none;
  line-height: 1.9;
}

.ol {
  padding-left: 1.5em;
}

.ul {
  padding-left: 18px;
  position: relative;
}

.ul li {
  position: relative;
}
.ul li:before {
  content: "•";
  position: absolute;
  font-size: 18px;
  left: -1rem;
  line-height: 1.6;
  color: var(--theme500);
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: var(--link);
}
a:focus, a:hover {
  color: var(--linkHover);
  text-decoration: none;
}

button,
.btn {
  color: var(--theme500);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
button:focus, buttonhover,
.btn:focus,
.btnhover {
  color: var(--theme900);
}

img, .img {
  vertical-align: middle;
}
.imgbox .img {
  width: 100%;
}

section,
header,
nav,
footer {
  position: relative;
}

section {
  padding: 5% 0%;
  margin: 0;
  background-color: #fffbf5;
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 34px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 28px;
    margin: 1%;
  }

  h3 {
    font-size: 24px;
    margin: 1%;
  }

  h4 {
    font-size: 20px;
    margin: 1%;
  }

  h5 {
    font-size: 18px;
    font-weight: 600;
    margin: 1%;
  }

  h6 {
    font-size: 16px;
    font-weight: 600;
    margin: 1%;
  }

  p,.p {
    font-size: 14px;
  }

  section {
    padding: 60px 0 1.2% 0;
  }
}


section .ul li,
section .ol li {
  margin-bottom: 0.3rem;
}
section:last-of-type {
  margin-bottom: 0;
  padding-bottom: 70px;
}

.loading {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--theme500);
  z-index: 9999;
  opacity: 1;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
}

.loading__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loading__logo svg {
  width: 100%;
}


/* header */
header.main {
  position: relative;
  background-color: var(--bannerBgLight);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, var(--bannerBgDark)), to(#c3eeeb));
  background: -o-linear-gradient(top, var(--bannerBgDark) 40%, var(--bannerBgLight) 100%);
  background: linear-gradient(180deg, var(--bannerBgDark) 40%, var(--bannerBgLight) 100%);
  padding: 100px 50px 200px;
  /* text-shadow: 1px 1px 5px var(--bannerBgDark); */
  color: #ffffff;
}
header.main::after {
  content: '';
  position: absolute;
  bottom: 220px;
  right: 0;
  left: 0;
  bottom: -15px;
  width: 100%;
  height: 240px;
  background: url('../img/frame-top.svg?0720') no-repeat top center / cover;
}
.kv-wrapper {
  max-width: 1000px;
  margin: auto;
  /* color: var(--txtColor); */
}
/* .title-top {
  font-size: 15px;
  color: #aaa;
  margin-bottom: 0;
} */
.main-title {
  font-family: 'Poppins';
  /* font-family: 'Roboto Mono', monospace,'Noto Sans TC', sans-serif; */
  margin: 0;
  padding: 10px 0 10px;
  font-size: 36px;
  line-height: 1;
  letter-spacing: 1px;
}

.main-title .en {
  letter-spacing: 2px;
}


.main-subtitle {}
.main-subtitle .light {
  border: 1.5px solid rgb(187, 187, 187);
  padding: 1px 5px 4px;
  margin: 5px;
  display: inline-block;
  border-radius: 3px;
  /* color: var(--bannerBgDark); */
}

.main-txtbox {
  /* color: var(--txtColor); */
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
  .main-title {
    font-size: 2.4rem;
    padding: 10px 0;
  }
  .main-subtitle {
    margin: 10px 0;
    font-size: 1.6rem;
  }
  .main-txtbox {
    /* padding: 0; */
    font-size: 1.1rem;
  }
}



.social {}
.social .social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.social .social-list li {
  margin: auto .5rem;
}
.social .social-list a i {
  display: inline-block;
  margin-right: 0.5rem;
  /* border: 2px solid var(--theme700); */
  border-radius: 50%;
  font-size: 1rem;
  /* width: 60px;
  height: 60px;
  line-height: 60px; */
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}
.social .social-list a i:hover {
  /* background: var(--theme700); */
  color: var(--theme700);
}

/* index portfolio */
.section-files.main {
  background-color: var(--bgMainContent);
  position: relative;
  padding: 30px 0 10px;
}


.item-group {
  margin-top: 2em;
  margin-bottom: 7em;
}

.file-item {
  padding: 10px;
}
.file-item .file-link {
  display: block;
  filter: drop-shadow(0px 3px 0 #aaa);
  transform: translateY(0px);
  will-change: transform;
  transition: transform .3s ease;
}
.file-item .file-link:hover,
.file-item .file-link:focus {
  filter: drop-shadow(0px 0px 0 #aaa);
  transform: translateY(3px);
}
.file-cover {
  border-radius: 10px 10px 0px 0px;
  max-height: 380px;
  overflow: hidden;
}
.file-cover .img {
  width: 200%;
  margin-left: -50%;
  /* -webkit-filter: grayscale(90%);
  filter: grayscale(90%);
  opacity: 0.6; */
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}
.file-item .file-link:hover .file-cover .img {
  -webkit-filter: grayscale(20%);
  filter: grayscale(20%);
  opacity: 1;
}

.file-info {
  padding: 10px 15px 15px;
  color: #888;
  background-color: #fff;
  border-radius: 0px 0px 5px 5px;
  /* -webkit-box-shadow: 0 4px 0px #ddd;
          box-shadow: 0 4px 0px #ddd; */
}
.file-info .tagbox {
  font-size: 0px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.file-info .tagbox span {
  font-size: 14px;
  /* vertical-align: middle; */
  position: relative;
}
.file-info .tagbox span:first-child {
  padding-left: 0px;
}
/* .file-info .tagbox span:not(:first-child)::before {} */
.file-info .tagbox span::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin: 0px 8px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #aaa;
}
.file-info .tagbox span:first-child::before {
  content: none;
}

.file-info .head {
  color: var(--txtColor);
  margin: 10px 0;
  height: 60px;
  overflow: hidden;
}
.info-corp {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.info-corp .imgbox {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  line-height: 50px;
  -webkit-box-shadow: 0 0 3px #ddd;
          box-shadow: 0 0 3px #ddd;
}
.info-corp .imgbox .img {
  width: 90%;
  margin-left: 5%;
}
.info-corp .info-type {}
.info-type span {}

.info-date {
  white-space: 2px;
  font-size: 14px;
}







/* About */
.section-about {
  background-color: #ebe3ff;
  font-size: 1.1rem;
}
.about-text p {
  font-size: 1.1rem;
}


/* index skill */
.section-skills {
  background: var(--bannerBgDark);
  /* background: linear-gradient(#8f5ba2,#735b7b); */
  color: #fff;
}
.section-skills .title {
  color: #fff;
}


/* index blog */
.section-blog {
  background-color: #babcd0;
}
.blog-item-cover {
  padding: 2%;
}
.blog-item {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}
.blog-item .blog-link img {
  width: 100%;
}
.blog-item .imgbox .img {
  width: 100%;
}
.blog-item .blog-info {}
.blog-item .tagbox span {}
.blog-item .head {}
.blog-item .info-date {}











.gotop {
  width: 40px;
  height: 40px;
  line-height: 40px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  /* padding: 6px 14px 4px 19px; */
  text-align: center;
  display: block;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 0px 5px #cacaca66;
          box-shadow: 0 0 0px 5px #cacaca66;
  border-radius: 50%;
  opacity: 0.6;
  z-index: 998;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.gotop img {
  height: 40px;
}
.gotop:hover {
  opacity: 1;
}

.loading {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--theme500);
  z-index: 9999;
  opacity: 1;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
}

.loading__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loading__logo svg {
  width: 100%;
}

.modal-content {
  background-color: #ffffff;
  border-radius: 10px;
  color: var(--theme900);
  margin: 20% auto;
  min-height: 60vh;
}
.modal-content h5 {
  color: var(--theme900);
}
.modal-content p {
  color: var(--theme900);
}
.modal-content .modal-header {
  border-bottom: none;
}
.modal-content .modal-header .close {
  color: var(--theme900);
  font-size: 2.5em;
  margin-top: -10px;
}
.modal-content .modal-body {
  text-align: left;
}
.modal-content .modal-body .modal-title {
  margin: 5px auto 8px auto;
}
.modal-content .tab-content {
  padding: 10px 5px;
}
.modal-content .tab-content blockquote {
  margin: 10px 0;
  background: #eee;
  padding: 8px;
  font-size: 16px;
  border-left: none;
  border: 5px dotted #ddd;
}
.modal-content .tab-content ol,
.modal-content .tab-content ul {
  margin-left: 20px;
}
.modal-content .list-inline > li {
  width: 49.5%;
  text-align: center;
  text-decoration: none;
  background: #19195e;
  display: inline-block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.modal-content .list-inline > li .tab {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  padding: 9px 4px 7px;
  text-decoration: none;
  width: 100%;
  cursor: pointer;
}
.modal-content .list-inline > li.active {
  border: 1px solid var(--theme900);
  border-bottom: none;
  background-color: #ffffff;
}
.modal-content .list-inline > li.active .tab {
  color: #333;
}
.modal-content .list-inline > li .active {
  border-bottom: 1px solid #fff;
}

@media screen and (max-width: 480px) {
  .container .modal {
    left: none !important;
    right: none !important;
  }
}
.btn-default {
  background: #fff;
  margin-top: 20px;
  color: var(--theme500);
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 3% 0;
  padding: 10px 20px;
  font-size: 18px;
  -webkit-box-shadow: 0 0 5px #c8c8c8;
          box-shadow: 0 0 5px #c8c8c8;
}

.btn-default:focus,
.btn-default:hover,
.btn-default:active {
  color: #fff;
  background: var(--theme500);
}

.title {
  /* text-align: center;
  letter-spacing: -1px;
  font-weight: 300;
  margin-left: -3rem;
  margin-top: 1rem;
  margin-bottom: 1rem; */
  text-align: center;
  letter-spacing: 1px;
  font-weight: 500;
  margin-left: -3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #626262;
}

.title i {
  font-size: 60%;
  color: var(--theme300)
}

.btn-close {
  background-color: #ffffff;
  opacity: 1;
  width: 1.5em;
  height: 1.5em;
  margin: 0.5em 0;
}



/* file page */
.section-file.kv {
  padding: 0;
  color: #fff;
  position: relative;
  height: 330px;
  /* margin-top: 80px; */
  padding-top: 160px;
}
.section-file.kv .file-kv-content {
  padding-top: 80px;
}

/* cybersec */
.section-file.kv.cybersec .bg {
  width: 100%;
  height: 300px;
  background: url('../img/cover/cyber2022.jpg') no-repeat top center / cover;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.section-file.kv.cybersec .file-kv-content {
  background: -webkit-gradient(linear,left top, left bottom,from(#00012fcc),color-stop(50%, #00012f00),color-stop(80%, #00012f));
  background: -o-linear-gradient(#00012fcc 0%,#00012f00 50%,#00012f 80%);
  background: linear-gradient(#00012fcc 0%,#00012f00 50%,#00012f 80%);
  position: absolute;
  bottom: 0;
  top: 0;
  width: 100%;
}

/* itplus */
.section-file.kv.itplus .bg {
  width: 100%;
  height: 300px;
  background: url('../img/cover/itplus.jpg') no-repeat top center / cover;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.section-file.kv.itplus .file-kv-content {
  background: -webkit-gradient(linear, left top, left bottom, from(#003859bf), color-stop(80%, #003859bf));
  background: -o-linear-gradient(#003859bf 0%, #003859bf 80%);
  background: linear-gradient(#003859bf 0%, #003859bf 80%);
  position: absolute;
  bottom: 0;
  top: 0;
  width: 100%;
}

/* mw */
.section-file.kv.mw .bg {
  width: 100%;
  height: 300px;
  background: url('../img/cover/mw2021.jpg') no-repeat top center / cover;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.section-file.kv.mw .file-kv-content {
  background: -webkit-gradient(linear,left top, left bottom,from(#2f0b82),color-stop(50%, #ffffff00),color-stop(80%, #2f0b82));
  background: -o-linear-gradient(#2f0b82 0%,#ffffff00 50%,#2f0b82 80%);
  background: linear-gradient(#2f0b82 0%,#ffffff00 50%,#2f0b82 80%);
  position: absolute;
  bottom: 0;
  top: 0;
  width: 100%;
}

/* ironman */
.section-file.kv.ironman .bg {
  width: 100%;
  height: 300px;
  background: url('../img/cover/ironman2021.jpg') no-repeat top center / cover;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.section-file.kv.ironman .file-kv-content {
  background: -webkit-gradient(linear, left top, left bottom, from(#478e9ccc), color-stop(50%, #1f5964c4),color-stop(80%, #186371));
  background: -o-linear-gradient(#478e9ccc 0%, #1f5964c4 50%,#186371 80%);
  background: linear-gradient(#478e9ccc 0%, #1f5964c4 50%,#186371 80%);
  position: absolute;
  bottom: 0;
  top: 0;
  width: 100%;
}

.file-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  line-height: 150px;
  -webkit-box-shadow: 0 0 3px #aaa;
          box-shadow: 0 0 3px #aaa;
  /* margin-top: -25%; */
  background-color: #fff;
}
.file-pic .logo {
  width: 90%;
  margin-left: 5%;
}
.file-intro {
  padding: 30px 15px 60px;
}
.intro-list {}
.intro-li {}
.intro-li span {
  display: inline-block;
  width: 80px;
  text-align: right;
  padding-right: 10px;
  opacity: 1;
}


.section-file.list {
  padding-top: 0;
  margin-top: -30px;
  min-height: 80vh;
}
.year-tabbox {
  border-bottom-width: 0px;
}
.year-tabbox .nav-link {
  background-color: #ffffff;
  /* color: #555; */
  padding: 8px 30px;
  -webkit-box-shadow: 1px 1px 0 2px #aaa;
          box-shadow: 1px 1px 0 2px #aaa;
}
.year-tabbox .nav-link:hover,
.year-tabbox .nav-link:focus {
  background-color: #f3f3f3;
}
.year-tabbox .nav-item {
  margin: 10px;
}
.year-tabbox .nav-link.active,.year-tabbox .show > .nav-link {
  background-color: #fff;
  color: var(--link);
}
.year-tabbox .nav-link.active,.year-tabbox .show > .nav-link:hover,
.year-tabbox .nav-link.active,.year-tabbox .show > .nav-link:focus {
  background-color: #f3f3f3;
  -webkit-box-shadow: 0px 1px 0 1px #aaa;
          box-shadow: 0px 1px 0 1px #aaa;
}

.year-tabbox-ironman .nav-link, .year-tabbox-ironman .nav-link.active {
  color: var(--link);
  background-color: #fff;
  border-bottom: 3px solid;
}
.year-tabbox-ironman .nav-link:hover {
  background-color: var(--theme300);
  border-bottom: 3px solid;
  color: #fff;
}


.tab-content-outer {
  padding-top: 20px;
}
.file-tab-content {}
.content2022 {}
.year {
  margin: 2%;
  color: #bbb;
}
.tab-row {
  margin: 15px 0;
}
.tabLabel {
  text-align: right;
  padding-right: 30px;
}
.tabAnswer {}
.tabAnswer ol {
  padding-left: 20px;
}

.btn-file {
  display: inline-block;

}
.file-imgbox {
  padding: 3% 0;
}
.file-imgbox img {
  width: 100%;
  /* box-shadow: 0 0 3px #aaa; */
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
}

