/**************
 list page: series-list
**************/
/* layout */
.sec-list.sec-channel-list {
  background-color: var(--bg01);
}
.channel-list-control {
  background-color: #fff;
  border-radius: var(--borderRadius-s);
  border-bottom: 10px solid var(--theme);
  padding: 10px 10px 30px;
  margin: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.channel-list-control-figure {}

.channel-list-content {}

@media (max-width: 991px) {
  .channel-list-control {
    position: relative;
  }
}