/* footer前一 section */
.sec-footer-top {
    background-color: #272d3a;
    /* color: var(--themeHover); */
    color: #eee;
}
.sec-footer-top {}


.sec-footer-top .swiper-slide, .sec-footer-top .card {
    opacity: 0.9;
}
.sec-footer-top .swiper-slide:hover, .sec-footer-top .card:hover {
    opacity: 1;
}
/* footer前一 section */


.footer {
    background-color: #010c2c;
    color: #fff;
    padding: 2%;
    text-align: center;
    font-weight: 500;
}

.footer-logo {}
.footer-logo img {
    border: 0.5px solid #444;
}
.footer-nav {
    margin: 10px;
}
.footer-nav li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}
.footer-nav li .footer-nav-link {
    color: #fff;
}