/**************
 regist page
**************/
.sec-regist {}

.sec-regist .titlebox {
  padding-bottom: 0;
}
.sec-regist .titlebox .title {
  margin-bottom: 2%;
}
.sec-regist .titlebox .sub {
  max-width: 500px;
  margin: auto;
}

.sec-regist .form-content {
  margin: 0;
}


/**************
 收確認信，燈箱
**************/
.modal-vertify {}
.modal-vertify .modal-body {}
.modal-vertify-content {}
.modal-vertify-content .til {
  color: var(--txtColor);
}
.modal-vertify-content .imgbox {}
.modal-vertify-content .imgbox i {
  font-size: 6rem;
  color: #cdcdcd;
}
.modal-vertify-content .form-group {}
.input-group .checkbox, .input-group .check-radio {
  width: 100%;
  padding: 5px 5px 5px 15px;
  margin: 5px;
  background-color: #fff;
}
.input-group .check-radio label {
  /* display: -webkit-flex;
  display: flex;
  background-color: #fff;
  width: 100%;
  border-bottom: 3px solid #aaa; */
}
.input-group .checkbox, .input-group .check-radio input[type=radio] {}
.modal-vertify-content .input-group {
  /* flex-direction: column;
  align-items: flex-start; */
}
.col-form-label {
  padding: auto;
}