/* variables from base.css */
/* :root {
  --theme: #008fd1;
  --themeHover: #21e6ff;
} */


/* * {
  outline: 1px solid red;
} */

/**************
     kv
**************/
/* index kv 在 index.css */

/* content kv */
.kv-content {
  padding: 50px 20px;
  background-color: #eee;
  background: url(../img/banner/kv-content.jpg) no-repeat center / cover;
  color: #fff;
}
.kv-content .kv-txt {
  text-shadow: 0 0 5px #001237;
}
.kv-content .kv-title {}
.kv-content small.sub {}
.kv-content .num {
  /* color: var(--theme); */
}
@media (max-width: 991px) {
  .kv-content {
    padding-top: 70px;
  }
}
/**************
     kv
**************/



.goTopBtn {
  position: fixed;
  bottom: 15px;
  right: 15px;
  color: #333;
  background: #dddddd9d;
  border: 2px solid #ddd;
  width: 40px;
  height: 40px;
  font-size: 20px;
  border-radius: 50%;
  -moz-border-radius: 3px;
  line-height: 20px;
  text-align: center;
  z-index: 997;
  transition: all .3s ease;
}
.goTopBtn:hover,.goTopBtn:focus {
  background-color: #fff;
}
.goTopBtn i {
  text-align: center;
  line-height: 40px;
}




/**************
 component: Tabs normal-version 可共用
**************/
/* tabs */
.tab-group {
  border-bottom-width: 0px;
  border-bottom: 3px solid #eee;
  background-color: #fff;
}
.tab-group .nav-item {
  font-weight: 500;
  padding-bottom: 3px;
}
.tab-group .nav-link {
  padding: 10px 30px;
  margin-bottom: -3px;
  border-width: 0px;
  background-color: #fff;
  color: #888;
  letter-spacing: 1px;
}
.tab-group .nav-link:hover {
  background-color: #eee;
}
.tab-group .nav-link.active {
  background-color: #fff;
  border-bottom: 3px solid var(--txtSmallColor);
  color: var(--txtSmallColor);
}

.tab-group .nav-link .icon {}
/* tab-content */
.tab-content {
  padding: 15px 15px;
  background-color: #fff;
}
/**************
 component: Tabs normal-version 可共用
**************/




/**************
 component: Tabs column-version 可共用
**************/
/* tabs */
.tab-column-group {
  border-bottom-width: 0px;
  border-bottom: 3px solid #eee;
  background-color: #fff;
}
.tab-column-group .nav-item {
  font-weight: 500;
}
.tab-column-group .nav-link {
  padding: 10px 30px;
  color: #888;
  border-left: 5px solid #ddd;
  margin-bottom: 0px;
  letter-spacing: 1px;
}
.tab-column-group .nav-link:hover {
  background-color: #f5fcff;
}
.tab-column-group .nav-link.active {
  background-color: var(--themeLight);
  border-bottom-width: 0px;
  border-left-color: var(--theme);
  color: #fff;
}
/* tab-content */
.tab-column-content {
}

@media (max-width: 991px) {
  /* tab control */
  .topic-list-control {
  }
  .tab-column-group {}
  .tab-column-group .nav-item {
    flex-grow: 1;
    text-align: center;
  } 
  .tab-column-group .nav-link {
    border-left-width: 0px;
  }
  .tab-column-group .nav-link:hover {
  }
  .tab-column-group .nav-link.active {
    border-left-width: 0px;
    border-bottom: 5px solid var(--theme);
  }

  /* tab-content */
  .tab-column-content {
  }
  .tab-column-content .card-group {}
}
/**************
 component: Tabs column-version 可共用
**************/



/**************
 component: Tags 可共用
**************/
.tagbox {
  padding: 5px 0;
  line-height: 2;
}
.tag {
  background-color: #fff;
  border: 1px solid #e3e3e3;
  padding: 1px 5px 1px;
  border-radius: var(--borderRadius-s);
  line-height: 2;
  word-break: keep-all;
}
.tag.type-online {
  background-color: #ffd560;
  border-color: #ffd560;
  color: #5e4200;
}
.tag.type-ondemand {
  background-color: #cae7ff;
  border-color: #86c8ff;
}
.tag.series {
  background-color: #c4ff82;
  border-color:#4fdd09;
}
.tag.regist-open, .tag.regist-success {
  background-color: #319400;
  color: #fff;
}
.tag.regist-close, .tag.regist-failed {
  background-color: #ff4734;
  color: #fff;
}
.tag.regist-coming {
  background-color: #8d9299;
  color: #fff;
}
.tag.regist-verify {
  background-color: #fff;
  color: #ff4734;
  border-color: #ff4734;
}
/**************
 component: Tags 可共用
**************/





/**************
 component: figure fancy 廣告圖 可共用
**************/
.figure-fancy a {
  display: block;
}
.figure-fancy img {
  width: 100%;
}
/**************
 component: figure fancy 廣告圖 可共用
**************/



/**************
 component: Card 可共用
**************/
.card {
  color: #333;
  display: block;
  border: 1px solid #1b283680;
  overflow: hidden;
  transform: translateY(0px);
  box-shadow: 0 0 0 transparent;
  transition: transform .2s ease-in-out;
  will-change: transform, box-shadow;
}
.card-imgbox img, .card-thumbnail img { /* card-imgbox 要全都改成 card-thumbnail-overlay */
  width: 100%;
}
.card-thumbnail {
  position: relative;
}
.card-thumbnail .card-thumbnail-overlay time {
  position: absolute;
    bottom: 0;
    right: 0;
    margin: 4px;
    color: #fff;
    background-color: #000;
    padding: 2px 4px;
    border-radius: 2px;
    font-size: 0.9rem;
    font-family: var(--fontMath);
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.5px;
    align-items: center;
    display: inline-flex;
}
.card-content {
  padding: 15px;
  background-color: #fff;
}

.card-speaker {
  color: var(--txtSmallColor);
  font-size: 88%;
  /* font-weight: 600;
  line-height: 1.4; */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  height: 2.5rem;
}
.card-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  position: relative;
  word-wrap: break-word;
  height: 3.5rem;
  /* white-space: nowrap; */

  transition: transform .2s ease-in-out;
}
/* webinar card link */
.card-link + .card-link { /* from BS4 */
  margin-left: unset;
  /* display: inline-block; */
}
/* HOVER */
.card-link:hover, .card-link:focus {}
.card-link:hover .card, .card-link:focus .card {
  transform: translateY(-3px);
  box-shadow: 0px 3px 3px #0204045e;
  border-color: var(--theme);
}
.card-link:hover .card-title {
  color: var(--txtColorHover);
}

@media (max-width: 991px) {
  .card-speaker {
    /* overflow: visible;
    height: auto; */
  }
  .card-title {
    height: 3rem;
  }
}
/**************
 component: Card 可共用
**************/



/**************
 component: Card VOD 共用
**************/
.card-vod {
  border-color: var(--vodColor);
}
.card-link:hover .card-vod, .card-link:focus .card-vod {
  border-color: var(--vodLightColor);
}
/**************
 component: Card VOD 共用
**************/





/**************
 component: Card Series 共用
**************/
/* series card */
.card-series {
  box-shadow: 0 0 0 1px #ddd;
  /* border: 3px solid transparent; */
  transition: .3s ease;
}
.card-series:focus, .card-series:hover {
  box-shadow: 0 0 0 3px var(--theme);
}
.card-series .card-imgbox, .card-series .card-thumbnail { /* card-imgbox 要全都改成 card-thumbnail-overlay */
  position: relative;
  overflow: hidden;
}
.card-series .card-imgbox img, .card-series .card-thumbnail img {
  transition: .3s ease;
}

.card-series .card-imgbox .card-link, .card-series .card-thumbnail .card-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 15px;
  margin: 0;
  background-color: #010338df;
  color: #fff;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-1000px);
  transition: .3s ease;
}
.card-series:focus .card-link, .card-series:hover .card-link {
  transform: translateX(0);
}


/* card-imgbox 要全都改成 card-thumbnail-overlay */
.card-series .card-imgbox .card-link i, .card-series .card-thumbnail .card-link i {
  margin-left: 8px;
}

.badge-calc-group {
}
.badge-calc-group .badge {
  padding-left: 0;
}
.badge-calc-group .num {
}

/* 卡片系列內容 */
.card-series .card-content {
}

.card-content .series-txt {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  position: relative;
  font-size: 0.9rem;
  line-height: 1.4;
  height: calc( 1.8rem * 1.4 );
}

.card-series-footer {
  line-height: 1;
  vertical-align: middle;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
/**************
 component: Card Series 共用
**************/





/**************
 component: Card stripe 共用
**************/
/* card stripe */
.card-stripe {
  padding: 0.2rem;
  border-color: #eee;
  transform: translateY(0px);
  box-shadow: 0 0 0 transparent;
}
.card-link .card-stripe {
  padding: 0.2rem;
  border-color: #eee;
  transform: translateY(0px);
  box-shadow: 0 0 0 transparent;
  /* transition: transform .1s ease-in-out; */
  will-change: transform, box-shadow;
  overflow: unset;
}
.card-link:hover .card-stripe.card, .card-link:focus .card-stripe.card {
  transform: translateY(0px);
  box-shadow: 0px 3px 3px #c1c1c1;
}
.card-stripe .card-thumbnail {}
.card-stripe .card-thumbnail-overlay {}
.card-stripe .card-thumbnail .card-thumbnail-overlay time {
  font-size: 0.8rem;
}



/* .tab-fade-allWebinar .card-link .card-stripe, */
.card-webinar {
  border-top: 4px solid #74d3ff !important;
}
.card-webinar,
.card-webinar .card-content {
  background-color: #ffffff;
}


/* .tab-fade-rewind .card-link .card-stripe, */
.card-rewind {
  border-top: 4px solid #0b55ff !important;
}
.card-rewind,
.card-rewind .card-content {
  background-color: #feffed;
}
.card-rewind::after {
  content: '';
  border-top: 10px solid #0b55ff;
  border-right: 10px solid #0b55ff;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: 0;
  right: 0;
}


/* .tab-fade-video .card-link .card-stripe, */
.card-vod {
  border-top: 4px solid #901ef2 !important;
}
.card-vod,
.card-vod .card-content {
  background-color: #f9f3ff;
}


.card-stripe .gap-card {
  gap: 2%;
}
.card-stripe .card-body {
  margin: 0;
  /* padding: 1rem 1rem 0.2rem; */
  padding: 0;
  align-items: flex-start;
  /* justify-content: center; */
}
.card-stripe .card-body-txt {
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 0 0 88%;
  gap: 3%;
}
.card-stripe figure, .card-stripe .card-thumbnail { /* .card-stripe figure 要全部換掉 */
  max-width: 100px;
  flex: 0 0 10%;
  /* margin-top: -0.8rem; */
}
.card-stripe figure img {}
.card-stripe .status {}
.card-stripe .timebox {
  flex: 0 0 10%;
}

.card-stripe .card-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  position: relative;
  word-wrap: break-word;
  /* white-space: nowrap; */
  flex: 0 0 50%;
  height: 1.5rem;
}
.card-stripe .card-speaker {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  position: relative;
  word-wrap: break-word;
  flex: 0 0 20%;
  /* min-width: 10%; */
  line-height: 1.4;
}
.card-stripe .tagbox {
  flex: 0 0 auto;
  padding-top: 0;
}

@media (max-width: 991px) {
  /* card stripe */
  .card-link .card-stripe {}
  .card-stripe .card-body {
    padding: 0.6rem;
    align-items: center;
    /* justify-content: flex-start; */
  }
  .card-stripe figure {
    /* margin-top: 0; */
    flex-basis: 25%;
  }
  .card-stripe .card-body-txt {
    flex-basis: 73%;
    gap: 0;
  }
  .card-stripe .status {}
  .card-stripe .timebox {
    flex-basis: auto;
  }
  .card-stripe .card-title {
    flex-basis: 100%;
  }
  .card-stripe .card-speaker {
    flex-basis: 100%;
  }
  .card-stripe .tagbox {}
}
/**************
 component: Card stripe 共用
**************/






/**************
 component: Time status 可共用
**************/
time.timebox {
  font-family: var(--fontMath);
  color: var(--txtColorHover);
  letter-spacing: 0.2px;
  font-size: 0px;
}

.timebox .year,
.timebox .date,
.timebox .during {
  font-size: 0.9rem;
  /* font-weight: 600;
  line-height: 1.4; */
}

.timebox .year {}
.timebox .date {}
.timebox .during .from {
  word-break: keep-all;
}
.timebox .during .until {
  word-break: keep-all;
}
/* 狀態 */
.status {
}
.status .st-ing {
  color: #58abff;
  border-color: #58abff;
}
.status .st-close {
  background-color: #a4a4a445;
}
/**************
 component: Time status 可共用
**************/


/* 小字共用 color, font-size */
.tag, .status, .txt-small {
  color: var(--txtSmallColor);
  font-size: 88%;
  /* font-weight: 600;
  line-height: 1.4; */
}



/**************
 component: watch-metadata 可共用
    views
**************/
.watch-metadata {
  font-weight: 600;
}
.watch-metadata .timebox {
  color: var(--txtSmallColor);}
.watch-metadata .views {
  padding-left: 1rem;
}
.watch-metadata .views-head {} 
.watch-metadata .views .num {
}
.watch-metadata .views-footer {}
/**************
 component: watch-metadata 可共用
    views
**************/





/**************
 component: pagination 可共用
**************/
.pagination-nav {
  padding: 3% 0;
  text-align: center;
}
.pagination {
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  gap: 10px;
  border: 1px solid #e3e3e3;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 5px;
}
.page-item {}
.page-item.disabled {}
.page-link {
  border: 2px solid transparent;
  background-color: transparent;
  border-radius: 5px;
  padding: 0.6rem 1rem;
  color: #9B9B9B;
  font-weight: 700;
  font-family: var(--fontMath);
}
.page-link:hover,.page-link:focus {
  color: var(--theme);
  background-color: transparent;
  border-color: var(--theme);
}
.page-link.active {
  background-color: #fff;
  color: #3F3F3F;
  border-color: #eee;
}
/* 最前＆最後的箭頭按鈕 */
.page-item:first-child .page-link,
.page-item:last-child .page-link {
  background-color: #fff;
  border-color: #eee;
}
.page-item:first-child .page-link:hover,
.page-item:last-child .page-link:hover,
.page-item:first-child .page-link:focus,
.page-item:last-child .page-link:focus {
  border-color: var(--theme);
  background-color: #fff;
}
.page-item.disabled .page-link {
  background-color: #9B9B9B;
  color: #fff;
}
.page-link i {}
/**************
 component: pagination 可共用
**************/





/**************
 component: TOPIC tag 可共用
**************/
.topic-group {
  padding: 1rem 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.topic {
  background-color: aliceblue;
  border: 1px solid #dbedfd;
  padding: 3px 8px 4px;
  border-radius: 10px;
  line-height: 1;
  letter-spacing: -0.3px;
  margin: 5px;
  transition: .2s ease;
}
/* .topic::before {
  content: 'TOPIC';
  display: inline-block;
  color: #000;
  padding: 1px 2px 2px;
  border-radius: 3px;
  font-size: .5rem;
  font-weight: 900;
  vertical-align: text-top;
} */
.topic-link {
  /* padding: 0.75rem 0.2rem; */
}
/**************
 component: TOPIC tag 可共用
**************/




/**************
 component: 計算：線上研討會000 隨選影片000  可共用
**************/
.badge-calc-group {
  display: inline-block;
  color: var(--txtMute);
}
.badge-calc-group .badge {
  display: inline-block;
  font-size: 85%;
  font-weight: normal;
}
.badge-calc-group .num {
  font-weight: 700;
  color: var(--txtColorHover);
}








/**************
 component: form 可共用
**************/
.form-group {
	display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 0;
  padding: 0.5rem;
}

.form-content {
	background-color: #fff;
	border-radius: var(--borderRadius-s);
	margin: 1rem 0;
	padding: 1rem;
  color: var(--txtMute);
}
.form-content input,
.form-content select,
.form-content textarea {
  margin: 0.15rem 0;
}

.form-content-btnbox {
  text-align: center;
  margin: 1rem 0;
  padding: 1rem;
}

.form-content-btnbox .btn {
  margin: 1% 2%;
  padding: 12px 3%;
  font-weight: bolder;
  min-width: 18%;
}
.form-content-btnbox .btn-pre {
  background-color: var(--themeLight);
  color: #fff;
}
.form-content-btnbox .btn-pre:hover, .form-content-btnbox .btn-pre:focus {
  background-color: var(--themeLightHover);
  color: var(--txtColor);
}

.form-content-btnbox .btn-next {
  /* min-width: 24%; */
  padding-left: 10%;
  padding-right: 10%;
}

.form-content-btnbox .btn-next i {
  font-size: 1.2rem;
}

.form-content-btnbox .btn-submit {
  /* min-width: 24%; */
  padding-left: 10%;
  padding-right: 10%;
  background-color: var(--txtWarning);
  color: #fff;
}
.form-content-btnbox .btn-submit:hover, .form-content-btnbox .btn-submit:focus {
  background-color: var(--txtWarningHover);
  color: #fff;
}

form .col-form-label {
	text-align: right;
  color: var(--txtColor);
  padding-top: 0.3rem;
}

form sup {
	color: var(--txtDanger);
	font-size: 1rem;
    top: 0;
    left: -2px;
}
.help-block {
	font-size: 90%;
	color: var(--txtColorHover);
}
@media (max-width: 991px) {
  form .col-form-label {
    text-align: left;
  }

  .form-content-btnbox {}

  .form-content-btnbox .btn {
    width: 70%;
    margin: 3%;
  }

  .form-content-btnbox .btn-pre, .form-content-btnbox .btn-next, .form-content-btnbox .btn-submit {}
  .form-content-btnbox .btn-pre {}

  .form-content-btnbox .btn-next {}

  .form-content-btnbox .btn-next i {}
  
  .form-content-btnbox .btn-submit {}
}
/**************
 component: form 可共用
**************/




/**************
 component: label input, select, textarea  可共用
**************/
label {
  margin-top: 0.2rem;
  margin-bottom: 0.3rem;
}
input, select, textarea {
  /* 預設框線
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  user-select: none; */
  background-color: #ededed;
  border-color: transparent;
  position: relative;
  border-radius: 5px;
  /* ||| */
  width: inherit;
  -ms-flex-preferred-size: 0;
  flex-basis: content;
  -ms-flex-positive: 1;
  max-width: 100%;
  /* padding: 0.375rem 0.75rem; */
  padding: 5px 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  box-shadow: 0 0 0px var(--themeHover);
  will-change: border, box-shadow;
  background-clip: padding-box;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
input:focus,
input:active,
input:focus-visible,
select:focus,
select:active,
select:focus-visible,
textarea:focus, 
textarea:active,
textarea:focus-visible {
  border-color: var(--themeHover);
  box-shadow: 0 0 5px var(--themeHover);
  outline: none;
}

input[disabled],
select[disabled],
textarea[disabled] {
  border-color: transparent;
  box-shadow: 0 0 0px var(--themeHover);
}

input[type=text], input[type=tel], select,
textarea {
  flex-grow: 1;
}

option {
  color: var(--txtMute);
}

select {
  padding-right: 1.5rem;
}
.input-group {
  align-items: center;
  padding: 6px 0 0;
}
.input-group span, .input-group label {
  margin-bottom: 0;
  margin: 0;
  width: max-content;
  gap: 5px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  flex-shrink: 0;
  flex-grow: 0;
}

.input-group [class*=col] > input,
.input-group [class*=col] > select {
  padding-right: 5px;
  padding-left: 5px;
}
/* 一行有２欄位 */
.input-group.cols-2 [class*=col]:first-of-type {
  padding-right: 5px;
}
.input-group.cols-2 [class*=col]:last-of-type  {
  padding-left: 5px;
}
/* 一行有３欄位 */
.input-group.cols-3 [class*=col] {
  padding-right: 0px;
  padding-left: 0px;
}
.input-group.cols-3 [class*=col]:first-of-type {
  padding-right: 5px;
}
.input-group.cols-3 [class*=col]:last-of-type  {
  padding-left: 5px;
}
.input-group.cols-3 .icon-center {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: -5px;
}
.input-group.cols-3 .icon-right {
  padding-left: 15px;
  margin-left: -5px;
}

.checkbox, .check-radio {
  padding-right: 10px;
  display: -ms-flexbox;
  display: flex;
  /* align-items: flex-start; */
  gap: 5px;
  flex-shrink: 0;
  flex-grow: 0;
  /* flex-wrap: wrap; */
  line-height: 1.4;
}

.input-group .checkbox, .input-group .check-radio {
  align-items: center;
}
.checkbox input[type=text], .check-radio input[type=text] {
  /* margin-left: 3px;
  width: unset; */
  margin-top: -2px;
}
.checkbox input[type=text]:focus-visible,
.checkbox input[type=text]:focus,
.checkbox input[type=text]:hover, 
.checkbox input[type=text]:target,
.check-radio input[type=text]:focus-visible,
.check-radio input[type=text]:focus,
.check-radio input[type=text]:hover,
.check-radio input[type=text]:target {
  outline: none;
}

@media (max-width: 991px) {
  .input-group span, .input-group label {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .input-group.cols-2 [class*=col]:last-of-type {
    padding-left: 15px;
  }
  .input-group.cols-2 [class*=col]:first-of-type {
    padding-right: 15px;
  }
  .checkbox, .check-radio {
    padding-bottom: 8px;
  }
}





/**************
 component: input:checkbox 可共用
**************/
input[type=checkbox]{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  user-select: none;
  background-color: #fff;
  position: relative;
  width: 20px;
  height: 20px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 20px;
  border: 2px solid var(--txtMute);
}
input[type=checkbox]:hover {
  box-shadow: 0 0 5px var(--themeHover);
}
input[type=checkbox]::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../img/icon-check.svg) no-repeat center/ 10px 10px;
}
input[type=checkbox]:checked {
  background-color: var(--theme);
  border-color: var(--theme);
}

input[type=checkbox]:disabled {
  box-shadow: none;
  background-color: #ddd;
}

input[type=checkbox]:disabled::after {
  content: none;
}
.checkbox {}
.checkbox span {
  color: var(--txtMute);
  flex-basis: fit-content;
}
input[type=checkbox]:checked ~ span {
  color: #222;
}

@media(max-width: 991px){
  .checkbox, .check-radio {
    /* -ms-flex-wrap: wrap;
    flex-wrap: wrap; */
  }
}





/**************
 component: input:radio 可共用
**************/
input[type=radio] {
  width: 18px;
  height: 18px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 18px;
  border-radius: 20px;
  margin-right: 2px;
  background: url(../img/icon-point-w.svg) no-repeat center/50px 50px;
  position: relative;
}
input[type=radio]::after {
  content: '';
  background: -moz-radial-gradient(center, ellipse, #ffffff 30%,#ffffff  30%);
  background: -webkit-radial-gradient(center, ellipse, #ffffff 30%,#ffffff 30%);
  background: radial-gradient(ellipse at center, #ffffff 30%,#ffffff 30%);
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border-radius: 20px;
  border: 2px solid var(--txtMute);
}
input[type=radio]:hover::after {
  box-shadow: 0 0 8px var(--themeHover);
}
input[type=radio]:checked::after {
  content: '';
  background: -moz-radial-gradient(center, ellipse, #ffffff 30%,var(--theme)  30%);
  background: -webkit-radial-gradient(center, ellipse, #ffffff 30%,var(--theme) 30%);
  background: radial-gradient(ellipse at center, #ffffff 30%,var(--theme) 30%);
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border-radius: 20px;
  border-color: var(--theme);
}
.check-radio {}
.check-radio span {
  display: inline-block;
  /* flex: 0 0 90%;
  line-height: 1; */
  vertical-align: text-top;
  word-break: break-all;
  white-space: break-spaces;
  width: fit-content;
  color: var(--txtMute);
}
input[type=radio]:checked ~ span {
  color: #222;
}

input[type=radio]:disabled {
  background-color: #ddd;
  border-color: var(--txtMute);
}
input[type=radio]:disabled::after {
  background: -moz-radial-gradient(center, ellipse, #ffffff 30%,#868686  30%);
  background: -webkit-radial-gradient(center, ellipse, #ffffff 30%,#868686 30%);
  background: radial-gradient(ellipse at center, #ffffff 30%,#868686 30%);
}
input[type=radio]:disabled:hover::after {
  box-shadow: none;
}
/**************
 component: input:radio 可共用
**************/




/**************
 component: 排序方式(sort) 可共用
**************/
.select-sort {
  min-width: 150px;
  box-shadow: 0 0 10px #ddd;
  padding: 7px 10px 6px;
  border: none;
  outline: none;
  box-shadow: none;
  display: inline-block;
}
.select-sort small {
  color: var(--txtMute);
  margin-right: 5px;
}
.select-sort .select {
  border: none;
  outline: none;
  padding: 5px 50px 5px 10px;
  background-color:#fff;
  border: 2px solid #bbb;
  border-radius: var(--borderRadius-s);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #ffffff url(../img/icon-solt.svg) no-repeat center right/ 22px 10px;
}

.select-sort i.icon-amount {
  font-size: 24px;
}
.select-sort i.icon-arrow {
  font-size: 16px;
}
.select-sort span {
}
/**************
 component: 排序方式(sort) 可共用
**************/




/**************
 component: searchbar 可共用
**************/
.searchbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}
.searchbar .search-input {
  border-radius: 5px 0px 0px 5px;
  flex-basis: calc(100% - 60px);
}
.searchbar .search-input:focus {
  outline-width: 0px;
  box-shadow: none;
}
.searchbar .search-click {
  flex-basis: 60px;
  background-color: #008fd1;
  color: #fff;
  border-radius: 0px 5px 5px 0px;
  padding: 3px 10px;
}
.searchbar .search-click:hover, .searchbar .search-click:focus {
  background-color: #006090;
  color: #fff;
}
.searchbar .search-click i {}
/**************
 component: searchbar 可共用
**************/




/**************
 component: searchbar has datalist & option 可共用
**************/
.searchbar-select {
}
.searchbar-select .search-input {
  border-radius: 5px 0px 0px 5px;
}
.searchbar-select .search-input:focus {
  outline-width: 0px;
  box-shadow: none;
}
.searchbar-select datalist {
  position: absolute;
  background-color: white;
  border: 1px solid blue;
  border-radius: 0 0 5px 5px;
  border-top: none;
  font-family: sans-serif;
  width: 350px;
  padding: 5px;
  max-height: 10rem;
  overflow-y: auto
}
.searchbar-select datalist option {
  background-color: white;
  padding: 4px;
  color: blue;
  margin-bottom: 1px;
   font-size: 18px;
  cursor: pointer;
}
/**************
 component: searchbar has datalist & option 可共用
**************/



/**************
 layout: section content's title box 可共用
**************/
.titlebox {
  padding: 20px 10px;
  text-align: center;
}
.titlebox .title {
  text-align: center;
  margin-bottom: 1.5rem;
}
.titlebox .sub {
}
/**************
 layout:  section content's title box 可共用
**************/

/**************
 layout: list page 可共用
**************/
.sec-list {}
.container-list {
  max-width: 1400px;
  margin: 0 auto;
}
/**************
 layout: list page 可共用
**************/

/**************
 layout: component 可共用
**************/
.h-content {
  min-height: calc(100vh - 250px); /* nav 50px + footer 200px = 250px */
}

@media (max-width: 991px) {
  .h-content {
    min-height: calc(100vh - 190px); /* nav 50px + footer 140px = 190px */
  }
}


/**************
 layout: 膠囊型卡片 capsule's card 可共用
**************/
.card-capsule {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  -ms-flex-pack: center;
  justify-content: center;
}
.capsule-head {
  background-color: var(--themeLight);
  color: #fff;
  border-top-left-radius: var(--borderRadius-m);
  border-bottom-left-radius: var(--borderRadius-m);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 3%;
}
.capsule-body {
  background-color: #fff;
  margin: 0;
  padding: 8%;
  border-top-right-radius: var(--borderRadius-m);
  border-bottom-right-radius: var(--borderRadius-m);
}

@media (max-width: 991px) {
  .card-capsule {
  }
  .capsule-head {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: var(--borderRadius-m);
    border-top-right-radius: var(--borderRadius-m);
  }
  .capsule-body {
    border-bottom-left-radius: var(--borderRadius-m);
    border-bottom-right-radius: var(--borderRadius-m);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
/**************
 layout: 膠囊型卡片 capsule's card 可共用
**************/




/**************
 component: Widget 可共用
**************/
/* 影片下靠右側小工具：收藏、分享 */
.widget-group {
  position: relative;
  line-height: 2.5;
  padding: 0.5rem 0;
}
.btn-widget {
  display: inline-block;
  padding: 8px 12px 7px;
  background-color: #eee;
  border-radius: var(--borderRadius-m);
  font-weight: 500;
  line-height: 1;
  vertical-align: middle;
  color: var(--txtColor);
  font-size: 1rem;
  word-break: keep-all;
  white-space: nowrap;
}
.btn-widget i {
  font-size: 110%;
  margin-right: 0.1rem;
}
.btn-widget:hover,.btn-widget:focus {
  background-color: #ddd;
}
.btn-widget.collect {}
.btn-widget.share {
  background-color: var(--themeLight);
  color: #fff;
}
.btn-widget.share:hover, .btn-widget.share:focus {
  background-color: var(--themeLightHover);
}

.btn-widget .dropdown-menu {
  box-shadow: 0px 2px 3px 0px #0000006b;
  padding: 0;
}
.btn-widget .dropdown-menu .dropdown-item {
  padding: 0.8rem 0.5rem 0.9rem;
  border-bottom: 2px solid #eee;
  text-align: center;
}
.btn-widget .dropdown-menu .dropdown-item:last-child {
  border-bottom-width: 0px;
}
/**************
 component: Widget 可共用
**************/

/**************
 component: Share Modal 分享燈箱 可共用
**************/
.share-modal {}
.share-modal-lightbox {}
.share-modal-header {
  border-bottom-width: 0px;
  background-color: var(--bg01);
}
.share-modal-content {
  padding: 2rem;
  margin: 0;
}
.share-modal-content .social-group {
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.share-modal-link {
  display: inline-block;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 45px;
  line-height: 1;
  text-align: center;
  transition: all .3s ease;
  transform: translateY(0px);
}

.share-modal-input-outer {}
.share-modal-input-outer input
.input-group-append {}
.input-group-append .btn {}
/**************
 component: Share Modal 分享燈箱 可共用
**************/





/**************
 component: 文字太多隱藏 可共用，
 需配合 jquery
**************/
.toggleTxt {
  width: 100%;
  max-height: 5rem;
  overflow: hidden;
  overflow: hidden;
  margin-bottom: -2rem;
  background: #f2f2f2;
  padding: 0.5rem;
  padding-bottom: 2rem;
  border-radius: 10px;
}
.btn-qa-list-open, .btn-qa-list-close {
  position: relative;
  display: block;
  text-align: left;
  font-size: 1rem;
  letter-spacing: 0px;
  width: 100%;
  margin: -32px -10px 10px 0px;
  border: none;
  /* border-bottom: 1px solid #dedede; */
  border-radius: 10px;
  outline-width: 0px;
  background: #f2f2f2;
  height: 40px;
  line-height: 32px;
  color: var(--txtColor);
  transition: all 0.3s ease;
}
.btn-qa-list-open:hover, .btn-qa-list-close:hover,
.btn-qa-list-open:focus, .btn-qa-list-close:focus {
  outline-width: 0px;
  box-shadow: none;
}
.btn-qa-list-open {
  background: linear-gradient(to bottom, #eeeeee00 0%, #eeeeeecc 30%, #eee 100%);
  
}
.btn-qa-list-close {
  /* margin-top: 0px; */
  padding-top: 0px;
  line-height: 30px;
  height: 40px;
  background: linear-gradient(to bottom, #eeeeee00 0%, #eeeeeecc 30%, #eee 100%);
}






/**************
 component: channel item 可共用
 在 channel-page, channel-list, webinar-page
**************/
.channel-group {}
.channel-item {
  background-color: #fff;
  border-radius: var(--borderRadius-s);
  border: 1px solid #ddd;
  margin: 10px;
}
.channel-item:has(.channel-item-link){}
.channel-item:has(.channel-item-link):hover, .channel-item:has(.channel-item-link):focus {
}
.channel-item-content {}
.channel-item-link {
  padding: 10px;
}
.channel-item-content:has(.channel-item-link) {
  box-shadow: 0 0 2px 3px transparent;
  /* transition: 0s ease; */
}
.channel-item-content:has(.channel-item-link):hover, .channel-item-content:has(.channel-item-link):focus {
  background-color: var(--theme);
}
.channel-item-content:has(.channel-item-link):hover a, .channel-item-content:has(.channel-item-link):focus a,.channel-item-content:has(.channel-item-link):hover .badge-calc-group,.channel-item-content:has(.channel-item-link):focus .badge-calc-group {
  color: #fff;
}
.channel-item-content:has(.channel-item-link):hover .badge-calc-group .num,.channel-item-content:has(.channel-item-link):focus .badge-calc-group .num {
  color: #fff;
}

.channel-item-figure {
  padding: 0;
  text-align: center;
}
.channel-item-figure .logo {
  width: 100%;
  max-width: 300px;
  box-shadow: 0 0 0 1px #ececec;
  background-color: #fff;
}

.channel-item-txt {}
.item-title {}

.channel-item-btn {
  padding: 10px;
  background-color: #d6d6d6;
}
.channel-item-btn .btn { /*一樣寬 切換不會位移 */
  min-width: 105px;
}
.channel-item-txt-intro {

}
/**************
 component: channel item 可共用
**************/






/**************
 component: alert area 提醒通知，
 統一在每一頁 banner下， section上 可共用
**************/
.alert-area {
  position: fixed;
  z-index: 998;
  bottom: 50px;
  right: 70px;
  max-width: 500px;
}

.alert {
  background-color: #fff;
  box-shadow: 1px 1px 2px #00000088;
  opacity: 0.9;
}
.alert .close {
  opacity: 0.7;
}

.alert-warning {
  background-color: var(--bgWarning);
  border-color: var(--bgWarning);
  color: #000;
}
.alert-danger {
  background-color: var(--bgDanger);
  border-color: var(--bgDanger);
}

@media (max-width: 991px) {
  .alert-area {
    right: 10px;
    left: 10px;
    width: 80%;
    margin: auto;
  }
  .alert {
  }
}
/**************
 component: alert area 提醒通知，
 統一在每一頁 banner下， section上 可共用
**************/


/**************
 component: alert_alert-darkness 可共用
**************/
.alert-darkness {
  background-color: #000000f0;
  color: #fff;
}
.alert-darkness .txt-danger {
  color: #ff0000;
}
.alert-darkness .close {
  color: #fff;
}
.alert-darkness .close:hover, .alert-darkness .close:focus {
  color: #ddd;
}
/**************
 component: alert_alert-darkness 可共用
**************/





/**************
 component: swiper 共用
 default 淺色版 swiper-button-next & swiper-button-prev & pagination 會放在 .swiper-dark 之後
**************/
.swiper {
  padding: 10px 18px 40px;
}
.swiper .swiper-link > *,
.swiper .card-link .card {
  border: 1px solid #0204045e;
}
.swiper .swiper-link:hover > *, .swiper .swiper-link:focus > *,
.swiper .card-link:hover .card, .swiper .card-link:focus .card {
  box-shadow: 0 0 2px 1px #0204045e;
}
.swiper ~ .swiper-pagination {
  /* bottom: -20px; */
}

.swiper .swiper-pagination .swiper-pagination-bullet, .swiper ~ .swiper-pagination .swiper-pagination-bullet {
  /* background-color: #fff; */
}
.swiper .swiper-pagination .swiper-pagination-bullet-active, .swiper ~ .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--txtColorHover);
}
.swiper .swiper-pagination .card-link:hover .card, .swiper .swiper-pagination .card-link:focus .card,
.swiper ~ .swiper-pagination .card-link:hover .card, .swiper ~ .swiper-pagination .card-link:focus .card {
  box-shadow: 0px 5px 5px var(--txtColorHover);
  border-color: var(--txtColorHover)
}
.swiper .swiper-button-next, .swiper .swiper-button-prev,
.swiper ~ .swiper-button-next, .swiper ~ .swiper-button-prev {
  color: var(--txtColorHover);
  transition: .3s ease;
}
.swiper .swiper-button-next:focus, .swiper .swiper-button-next,
.swiper ~ .swiper-button-next:focus, .swiper ~ .swiper-button-next {
  right: 2px;
}
.swiper .swiper-button-next:focus, .swiper .swiper-button-next:hover,
.swiper ~ .swiper-button-next:focus, .swiper ~ .swiper-button-next:hover {
  right: 0px;
}
.swiper .swiper-button-prev:focus, .swiper .swiper-button-prev,
.swiper ~ .swiper-button-prev:focus, .swiper ~ .swiper-button-prev {
  left: 2px;
}
.swiper .swiper-button-prev:focus, .swiper .swiper-button-prev:hover,
.swiper ~ .swiper-button-prev:focus, .swiper ~ .swiper-button-prev:hover {
  left: 0px;
}


/**************
 component: swiper dark 可共用
 深色版 swiper-button-next & swiper-button-prev & pagination 會放在 .swiper-dark 之後
**************/
.swiper-dark {
}

.swiper-dark .swiper-link > *,
.swiper-dark .card-link .card {
  border: 1px solid #333;
}

.swiper-dark .swiper-link:hover > *, .swiper-dark .swiper-link:focus > *,
.swiper-dark .card-link:hover .card, .swiper-dark .card-link:focus .card {
  box-shadow: 0 0 0 3px #333;
}
.swiper-dark ~ .swiper-pagination {
  /* bottom: -20px; */
}

.swiper-dark .swiper-pagination .swiper-pagination-bullet, .swiper-dark ~ .swiper-pagination .swiper-pagination-bullet {
  background-color: #fff;
}
.swiper-dark .swiper-pagination .swiper-pagination-bullet-active, .swiper-dark ~ .swiper-pagination .swiper-pagination-bullet-active {
  background: #a2eaff;
}
.swiper-dark .swiper-pagination .card-link:hover .card, .swiper-dark ~ .swiper-pagination .card-link:focus .card , .swiper-dark ~ .swiper-pagination .card-link:hover .card, .swiper-dark ~ .swiper-pagination .card-link:focus .card {
  box-shadow: 0px 5px 5px #a2eafe80;
  border-color: #a2eafe80;
}
.swiper-dark .swiper-button-next, .swiper-dark .swiper-button-prev , .swiper-dark ~ .swiper-button-next, .swiper-dark ~ .swiper-button-prev {
  color: #a2eaff;
  transition: .3s ease;
}
.swiper-dark .swiper-button-next:focus, .swiper-dark .swiper-button-next,
.swiper-dark ~ .swiper-button-next:focus, .swiper-dark ~ .swiper-button-next {
  right: 2px;
}
.swiper-dark .swiper-button-next:focus, .swiper-dark .swiper-button-next:hover, 
.swiper-dark ~ .swiper-button-next:focus, .swiper-dark ~ .swiper-button-next:hover {
  right: 0px;
}
.swiper-dark .swiper-button-prev:focus, .swiper-dark .swiper-button-prev,
.swiper-dark ~ .swiper-button-prev:focus, .swiper-dark ~ .swiper-button-prev {
  left: 2px;
}
.swiper-dark .swiper-button-prev:focus, .swiper-dark .swiper-button-prev:hover, 
.swiper-dark ~ .swiper-button-prev:focus, .swiper-dark ~ .swiper-button-prev:hover {
  left: 0px;
}

