/* 
* {
  outline: 1px solid red;
} */

/**************
   memeber 共用 sidebar menu
**************/
.sec-memeber {
  padding-left: 15px;
  padding-right: 15px;
}
.member-menubox {
  /* background-color: #fff; */
  padding: 0 15px 15px;
}
.member-info {
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 15px;
  background-color: #fff;
}
.member-info-avatar-box {
  position: relative;
  vertical-align: top;
  line-height: 1;
  display: inline-block;
}
.member-info-avatar-img {
  border-radius: 50%;
  width: 100%;
  max-width: 80px;
  max-height: 80px;
  border: 2px solid #aaa;
  padding: 0;
  text-align: center;
  vertical-align: top;
  overflow: hidden;
  transition: .3s ease-in;
}
.member-info-avatar-name {}
.member-menu {}
.member-menu-column {
  border-bottom-width: 0px;
    border-bottom: 3px solid #eee;
    background-color: #fff;
}
.member-menu-column .nav-item {
  border-bottom: 1px solid #ddd;
  width: 100%;
}
.member-menu-column .nav-item:last-of-type {
  border-bottom-width: 0px;
}
.member-menu-column .nav-item .nav-link {
  padding: 10px 30px;
    color: #888;
    border-left: 5px solid #ddd;
    margin-bottom: 0px;
    letter-spacing: 1px;
    font-weight: 500;
    display: block;
}
.member-menu-column .nav-item .nav-link.hot {}
.member-menu-column .nav-item .nav-link.active {
  background-color: #fff;
  color: #333;
  border-bottom-width: 0px;
  border-left-color: var(--theme);
}
.memeber-contentbox {}
.memeber-contentbox .tab-content {
  background-color: transparent;
  /* padding-top: 0; */
}
.memeber-contentbox .tab-content .tab-pane.active {}
.memeber-contentbox .tab-content .tab-pane {}

.member-content-header {
  background-color: #fff;
  padding: 15px;
}
.member-content-body {
  background-color: #fff;
  min-height: 30vh;
  padding-bottom: 3%;
  position: relative;
}
/**************
   memeber 共用 sidebar menu
**************/


/**************
   可刪除 card 外層，共用 (member-collect.html, member-history-vod.html)
**************/
.watch-item-wedget {
  position: relative;
  box-shadow: none;
  margin: 0;
  overflow: hidden;
}
.watch-item-wedget .vod-link {
  display: block;
  padding: 0;
}
.watch-item-wedget .close {
  /* background-color: #fff;
  box-shadow: 0 0 5px #33333380; */
  padding: 0.3rem;
  opacity: 0;
}
.watch-item-wedget .close .tooltip {
  background-color: pink;
}
.watch-item-wedget:hover .close, .watch-item-wedget:focus .close {
  opacity: 1;
}
.watch-item-wedget .close span {
  text-shadow: 2px -2px 2px #fff, 2px 2px 2px #fff, -2px -2px 2px #fff, -2px 2px 2px #fff;
  color: #333;
}

.tooltip.bs-tooltip-top.show {
}

.watch-item-wedget .star {}
.watch-item-wedget .star i[class*="star"] {
  color: #ffde00;
  text-shadow: 1px 1px 2px #4f2100e8;
}
/**************
   可刪除 card 外層，共用 (member-collect.html, member-history-vod.html)
**************/






/**************
   memeber center webinar 我的報名
**************/
/* 系列、非系列 collapse 共用 */
.collapse-header-btn:focus,
.collapse-header-btn:hover,
.collapse-header-btn:visited {
  border: none;
  outline: none;
  box-shadow: none;
}
.collapse-header-btn .collapse-til i {
  position: absolute;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  line-height: 2;
  right: 10px;
  top: 0px;
}
.collapse-header-btn .collapse-til i:hover,
.collapse-header-btn .collapse-til i:focus {
  background-color: #eee;
}
/* .collapse-header-btn .collapse-til i::after {
  content: '';
  position: absolute;
  background-color: #aaa;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  line-height: 2;
  z-index: -1;
} */

.collapse-header-btn[aria-expanded="false"] .collapse-til i,
.btn-card-arrowbox[aria-expanded="false"] i {
  transform: rotate(0deg) translate( 0px, 0px);
  /* transition: .2s ease; */
}
.collapse-header-btn[aria-expanded="true"] .collapse-til i,
.btn-card-arrowbox[aria-expanded="true"] i {
  transform: rotate(-90deg) translate( 0px, 0px);
}

.collapse-til {
  position: relative;
  color: #888;
  padding: 10px 15px;
  border-width: 0px;
  border-bottom: 1px solid #ddd;
}
.collapse-til i {}


.collapse {}
.collapse .collapse-body {
  position: relative;
}

@media (max-width: 991px) {
  .member-menu-column .nav-item {
    width: 50%;
    border: 1px solid #ddd;
  }
  .member-menu-column .nav-item .nav-link.active {
    background-color: var(--theme);
    color: #fff;
  }
}

@media (max-width: 667px) {
  .member-menu-column .nav-item {
    width: 100%;
  }
}
/* 系列、非系列 collapse 共用 */




/* 非系列線上研討會 start */
.collapse-notseries-page {
  /* padding-top: 2%; */
  padding-bottom: 2%;
}
.collapse-notseries-page .collapse-header {}
.collapse-notseries-page .collapse-body {}
/* 非系列線上研討會 end */


/* 系列線上研討會 start */
.collapse-series-page {
  padding-top: 2%;
  padding-bottom: 2%;
}
.collapse-series-page .collapse-header {
  background-color: #ddd;
  margin-top: 2%;
  border-bottom: 2px solid #999;
}
.collapse-series-page .collapse-header-btn {
  color: var(--theme);
  margin: 0;
  padding: 3px 3px 3px;
  border-radius: 0px;
  text-decoration: none;
  outline: none;
  box-shadow: none;
}

.btn-card-body {}

.btn-card {}
.btn-card-arrowbox {
  position: absolute;
  right: 15px;
  top: 15px;
  color: #888;
  text-align: center;
  /* border: 2px solid #fff; */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.btn-card-arrowbox i {}
.btn-card-arrowbox:hover, .btn-card-arrowbox:focus {
  background-color: #eee;
  color: #888;
}
.btn-card-arrowbox i {
  position: relative;
}
.btn-card-series {
  background-color: #fff;
}
.btn-card-series .card-thumbnail {
  padding: 0.4rem;
}
.btn-card-series .card-thumbnail img {}
.btn-card-series .btn-card-content {}
.btn-card-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  position: relative;
  word-wrap: break-word;
  /* white-space: nowrap; */
  flex: 0 0 100%;
  height: 1.5rem;
  color: #333;
}

.btn-card-series .btn-card-content .btn-tooltipbox {
  
}
.btn-card-series .btn-card-content .btn-widget.subscript-notice i {
}
.btn-card-series .btn-card-content .btn-widget.subscript-notice .dropdown-menu {}
.btn-card-series .btn-card-content .btn-widget.subscript-notice  .dropdown-item {
  padding: 0.5rem 0.5rem;
}
.subscript-notice {
  background-color: transparent;
  font-size: 0.85rem;
  letter-spacing: 0.5px;
}
.subscript-notice:hover, .subscript-notice:focus {
  background-color: transparent;
  box-shadow: none;
}
.btn-card-series .btn-card-content .btn {
  padding: 4px 8px;
  font-size: 16px;
}
.btn-card-series .btn-card-content .subscript-notice {
  font-size: 0.85rem;
  letter-spacing: 0.5px;
}
.btn-card-series .btn-card-content .subscript-notice i {
  font-size: 1.1rem;
}

.collapse-series-page .collapse-body {
  /* border: 3px solid #aaa;
  border-left: 10px solid #aaa; */
  padding: 0.5rem;
  background-color: #aaa;
}
.collapse-series-page .card-webinar {}



@media (max-width: 991px) {
  .btn-card-arrowbox {
    right: 5px;
  }
}
/* 系列線上研討會 end */

/**************
   memeber center webinar 我的報名
**************/










/**************
   memeber center vod 最近觀看的隨選影片
**************/

/* 有觀看紀錄影片區 */
.watch-list {}
/* 日期標題 */
.watch-list-head {}

.watch-list .vod-link {}
.watch-list .card-vod .card-body img {}
.watch-list .card-body-txt {}

/**************
   memeber center vod 最近觀看的隨選影片
**************/



/**************
   memeber center channel 我訂閱的頻道
**************/
.channel-group {}
.channel-link {}
.channel-item {}
.channel-item .channel-item-figure {}
.channel-item .channel-item-figure .logo {}
.channel-item .subscript-noticebox {
  position: absolute;
  top: 20px;
  right: 20px;
}
.channel-item .subscript-notice {
  /* border: 1px solid var(--theme); */
  padding: 5px;
  text-align: center;
  line-height: 1;
  background-color: #eee;
}
.channel-item .subscript-notice:hover, .channel-item .subscript-notice:focus {
  background-color: #aaa;
}
.channel-item .subscript-notice i {
  font-size: 1.1rem;
}
.channel-item .dropdown-menu .dropdown-item i {
  font-size: 110%;
}
.channel-item .channel-item-txt {}
.channel-item .badge-calc-group .badge {}
.channel-item .badge-calc-group .num {}

.channel-item .channel-item-btn .btn {
  font-size: 1rem;
  padding: 2px 12px 3px;
  background-color: #888;
}
/**************
   memeber center channel 我訂閱的頻道
**************/



/**************
   memeber center collect 我的收藏
**************/
.member-content-tabs {}
.member-content-tabs .tab-item {}
.member-content-tabs .tab-item .nav-link {}
.member-content-tabs .tab-item .nav-link .num {}

/**************
   memeber center collect 我的收藏
**************/






/**************
   memeber center epaper 電子報訂閱管理
**************/
.member-content-body.epaper {}
/**************
   memeber center epaper 電子報訂閱管理
**************/



/**************
   memeber center edit 編輯個資
**************/
.member-content-body.edit {}
.member-content-body.edit .btn-input-outlink {
  font-size: 90%;
  color: var(--theme);
}
.member-content-body.edit .btn-input-outlink:hover,
.member-content-body.edit .btn-input-outlink:focus {
  color: var(--themeHover);
}
.btn-input-outlink i {
  font-size: 80%;
}
input~.btn-input-outlink {
  position: absolute;
  padding: 10px;
  height: 100%;
  right: 15px;
  text-align: right;
}
.member-content-body.edit .avatar-box .btn-input-outlink {
}

input:disabled {
  opacity: 0.8;
}

/**************
   memeber center edit 編輯個資
**************/