/**************
 list page: notice
**************/
.sec-list.sec-notice {}

@media (max-width: 991px) {
  .sec-list.sec-notice {
    padding-top: 10px;
  }
}





/**************
  notice-type
 **************/
.notice {}

/* 類型 */
.notice-type {}
.type-group {
  background-color: #fff;
  padding: 1rem 1rem 3rem;
  margin-bottom: 2rem;
}
.type-group .type-item {
  padding: 0.3rem;
  border-bottom: 1px solid #ddd;
  color: var(--txtSmallColor);
}
.type-group .type-item:last-child {
  border-bottom-width: 0px;
}
.type-group .type-item .txt {}
.type-group .type-item .num {}


.type-group .type-item.active {
  color: var(--txtWarning);
}

@media (max-width: 991px) {
  .notice {}

  /* 類型 */
  .notice-type {}
  .type-group {
    padding: 1rem;  
  }
}




/*********
  結果列表 
 *********/
.notice-body {
  /* padding: 0px 15px 20px 0px; */
}
/* 搜尋結果列表頭 */
.notice-header {
  border-bottom: 1px solid #eee;
}
.notice-header .til {}

/* 結果列表的內容 */
.notice-contnet {}
.notice-item-group {
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* notice item */
.notice-link {
}
.notice-item {
  padding: 0.8rem;
  color: var(--txtColor);
  border-bottom: 1px solid #eee;
}
.notice-link .notice-item:hover, .notice-link .notice-item:focus {
  background-color: #eee;
}
.notice-item-header {}
.notice-point {
  width: 8px;
  height: 8px;
  background-color: #ff3f3f;
  border-radius: 50px;
  position: absolute;
  left: -1px;
  top: 5px;
}
.notice-title {}
.notice-intro {}
.notice-item-thumbnail figure img {}


/* Pagination */
.notice-pagination {}
.pagination-nav {}
.pagination {}








@media (max-width: 991px) {
  .notice-body {}
  /* 搜尋結果列表頭 */
  .notice-header {}
  .notice-header .til {}
  
  /* 結果列表的內容 */
  .notice-contnet {}
  .notice-item-group {
  }
  
  /* notice item */
  .notice-link {}
  .notice-item {
    padding: 0.5rem 0.5rem 0.5rem 0;
  }
  .notice-link:hover .notice-item, .notice-link:focus .notice-item {
  }
  /* <!-- 判斷 tag種類 --> */
  .tagbox .tag {}
  .notice-thumbnail figure {}
  .notice-thumbnail figure img {
  }
  
  /* <!-- Title --> */
  .notice-title {}
  .notice-speaker {}
  .notice-intro {}
  
  /* <!-- 差異 --> */
  /* <!-- 差異1. 如果是研討會 --> */
  .timebox span {}
  /* <!-- 差異2. 如果是隨選影片 -->
  <!--  無 -->
  <!-- 差異2. 如果是隨選影片 --> */
  /* <!-- 差異3. 如果是頻道 --> */
  .badge-calc-group .badge .num {}
  /* <!-- 差異4. 如果是系列 --> */
  .badge-calc-group .badge .num {}
  
  
  /* Pagination */
  .notice-pagination {}
  .pagination-nav {}
  .pagination {}
  
}