/**************
 signup page
**************/
.sec-signup {}

/* steps */
.progress-step-box {
  text-align: center;
}
.progress-step {
	position: relative;
	z-index: 0;
	padding: 1%;
}
.progress-step .step {
  position: relative;
  display: inline-block;
  padding: 0 6%;
  counter-increment: step;  
}
.progress-step .step::before {
  content: counter(step);
  background-color: #bbb;
  color: #fff;
  display: inline-block;
  position: relative;
  border: 2px solid #bbb;
  width: 35px;
  height: 35px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  font-family: var(--fontMath);
}
.progress-step .step.active::before {
  background-color: var(--theme);
  border-color: var(--theme);
}
.progress-step .step::after {
  content:'';
  background-color: #bbb;
  width: 100%;
  height: 5px;
  position: absolute;
  top: 15px;
  z-index: -1;
}
.progress-step .step:last-of-type:after {
	content: none;
}
.progress-step .step.active::after {
	background-color: var(--theme);
}
.progress-step .step .txt {
	display: block;
	font-weight: 900;
}
.progress-step .step.active .txt {
  color: var(--txtColor);
}
.progress-step .step.active .txt {
  color: var(--theme)
}

@media (max-width: 991px) {
  .progress-step .step {  }
  .progress-step .step::before {
    width: 30px;
    height: 30px;
    line-height: 25px;
    font-size: 20px;
  }
  .progress-step .step .txt {
    font-size: 90%;
  }
}




/**************
 確認資料 報名表單表格
**************/
.form-content .table {
  border: 0.5px solid #ddd;
  margin: 0;
  padding: 0;
  color: var(--txtColor);
}
.form-content .table .tr {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}

.form-content .table .th,
.form-content .table .td {
  border: 0.5px solid #ddd;
  padding: 1rem;
}
.form-content .table .th {
  font-weight: bolder;
    background-color: #f2f2f2;
}
.form-content .table .td {
}


/* 步驟三 完成報名
  for signup's card-capsule
 */
.card-capsule {}
.capsule-head {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
  line-height: 50px;
  background-color: #b4e7ff;
}
.capsule-head i {
  font-size: 120px;
}
.capsule-body {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (max-width: 991px) {
  .card-capsule {}
  .capsule-head {}
  .capsule-head i {
    font-size: 80px;
  }
  .capsule-body {
  } 
}