/**************
 list page: slides download
**************/
.sec-download-slides {
}


.download-slides-control {
  background-color: #fff;
  padding-bottom: 5%;
}


.download-slides-content {}
.slide-item-group {
  row-gap: 1rem;
}
.slide-item {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: var(--borderRadius-s);
  padding: 0;
  position: relative;
  height: 100%;
  overflow: hidden;
}
.slide-item figure {
  padding: 0.5rem;
}
.slide-item figure img {}
.slide-body {
  padding: 0 0.5rem 0.5rem;
}
.slide-txt {}
.slide-txt time {}
.slide-txt .til {
  font-weight: 500;
  height: 6rem;
}
.slide-btnbox {
  padding: 0.5rem 0 0;
}
.slide-btnbox .btn {}
.slide-btnbox .btn i {}
.btn-tooltipbox {
}
.btn-tooltipbox .btn {}
.btn-tooltipbox .btn i {}
.slide-footer {
  margin-top: auto;
  /* border-top: 1px solid #eee; */
  padding-top: 0;
  padding-bottom: 0;
}
.slide-footer .btn-more {
  display: block;
  text-align: right;
  background: #eee;
  margin-top: 0.8rem;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  transition: .3s ease;
}
.slide-footer .btn-more:hover, .slide-footer .btn-more:focus {
  -webkit-transform: translateX(5px);
  transform: translateX(5px);
}
.slide-footer .btn-more i {}



@media (max-width: 991px) {
  .sec-download-slides {
  }
  .download-slides-control {
    background-color: #fff;
    padding-bottom: 5%;
  }
  .download-slides-content {}
  .slide-item-group {}
  .slide-item {}
  .slide-item figure {}
  .slide-item figure img {}
  .slide-body {}
  .slide-txt {}
  .slide-txt time {}
  .slide-txt .til {
    height: unset;
  }
  .slide-btnbox {}
  .slide-btnbox .btn {}
  .slide-btnbox .btn i {}
  .btn-tooltipbox {
  }
  .btn-tooltipbox .btn {}
  .btn-tooltipbox .btn i {}
  .slide-footer {}
  .slide-footer .btn-more {}
  .slide-footer .btn-more i {}
}