/**************

**************/

/* 
* {
  outline: 1px solid red;
} */

/******* 共用 ***********/
.sec-status {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-comment {
  font-size: 12rem;
  position: absolute;
  top: -2rem;
  right: 1rem;
  color: var(--theme);
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
}
.icon-exclamation {
  font-size: 9rem;
  position: absolute;
  top: 4rem;
  right: 5rem;
  color: #ffb005;
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}

@media (max-width: 991px) {
  .icon-comment {
    font-size: 9rem;
    top: 0;
  }
  .icon-exclamation {
    font-size: 5rem;
    top: 5rem;
  }
  .nocontent-txt {
  }
}

@media (max-width: 991px) {
  .icon-comment {
    font-size: 4rem;
    top: 0;
  }
  .icon-exclamation {
    font-size: 2rem;
    top: 1rem;
    right: 2.5rem;
  }
  .nocontent-txt {
  }
}
/******* 共用 ***********/



/******* No content 內容已下架 ***********/
.sec-status.sec-status-nocontent {
}
.nocontent-box {
  background-color: #fff;
  border-radius: var(--borderRadius-l);
  padding: 3rem;
  min-width: 30vw;
  min-height: 30vh;
}
.nocontent-box .icon-bird {
  font-size: 10rem;
  position: absolute;
  bottom: -1rem;
  left: 3rem;
  color: var(--themeLightHover);
}
.icon-comment {
}
.icon-exclamation {
}

.nocontent-txt {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

@media (max-width: 991px) {
  .nocontent-box .icon-bird {
    font-size: 5rem;
  }
  .nocontent-txt {
  }
}

@media (max-width: 991px) {
  .nocontent-box .icon-bird {
    font-size: 3rem;
    bottom: 0;
  }
  .nocontent-txt {
  }
}
/******* No content 內容已下架 ***********/







/******* 報名已截止 ***********/
.sec-status-register-close {}
.register-close-box {
  background-color: #fff;
  border-radius: var(--borderRadius-l);
  padding: 3rem;
  min-width: 30vw;
  min-height: 30vh;}
.register-close-box .icon-exclamation {}
.register-close-box .icon-calendar {
  font-size: 10rem;
  position: absolute;
  bottom: 1rem;
  left: 3rem;
  color: var(--themeLightHover);
}


@media (max-width: 991px) {
  .register-close-box .icon-calendar {
    font-size: 5rem;
  }
  .register-close-box {
  }
}

@media (max-width: 991px) {
  .register-close-box .icon-calendar {
    font-size: 3rem;
    bottom: 0;
  }
  .register-close-box {
  }
}


/******* 報名已截止 ***********/